node_modules/
*.css.*
app/renderer/html/*.html
!app/renderer/html/index.html
*.mp4
*.mp3
t*.js
converted_media/
_test.js
src/renderer/js/index.js
app/
testtest.json
*#*
src/renderer/js/LoadFAST.js
