.create-playlist-body {
    @extend %new_window_body;
}

.playlist-header {
    @extend %window-headers;
}

.create-playlist {
    .create-playlist-form {
        @extend %forms;
    }
}

.create-playlist-input {
    @extend %form-input;
    width: 70%;
    display: inline;
    margin-left: 120px;
}


.media-playlist-container {

    width: 100%;

    margin-top: 20px;

    /**
     *
     *
     * This contains the list of videos to add as playlist
     *
     **/

    .add-playlist {
        border: 0.2px solid darken(lighten($global-color, 50%), 55%);
        border-radius: 5px;
        box-shadow: 0px 1px 6px 0px darken(lighten($global-color, 50%), 55%);
        background: darken(lighten($global-color, 50%), 55%);
        float: left;
        overflow-y: auto;
        max-height: 460px;
        width: 40%;
        margin-bottom: 20px;
    }


    /**
     *
     * This contains existing playlist name
     *
     **/

    .add-to-existing-playlist {
        //border: 0.2px solid lighten(black,55%);
        float: right;
        overflow-y: auto;
        max-height: 500px;
        width: 40%;

        margin-right: 3%;
    }

}


%list {
    padding: 20px;
    color: lighten(black,50%);
}

[data-playlist="no-playlist"] {
    @extend %list;
    display: flex;
    justify-content: center;
    align-content: center;


    line-height: 1.5;

    p {
        a {
            cursor: pointer;
            transition: .2s color ease-in;
            color: inherit;
            /* &:hover {
               color: darken(black,50%);
               } */
        }
    }
}

[data-playlist="playlist"] {

    @extend %list;

    p {

        width: 80%;

        text-overflow: ellipsis;
        overflow: hidden;

        white-space: nowrap;
        float: left;

    }
}

.create-playlist-item {

    box-shadow: 0px 0px 12px darken($global-color,10%);
    border-radius: 5px;
    padding: 15px 15px 25px 15px;
    margin-top: 12px;    
    transition: .2s background ease-in, .2s color ease-in;

    &:hover {
        color: white;
        cursor: pointer;
    }

    i {
        cursor: pointer;
    }
}

[data-saveList="no-saved"] {
    @extend %list;
}

.saved-playlist {
    @extend .create-playlist-item;
    &:first-of-type {
        margin-top: -15px;
    }
}

[data-saveList="saveList"] {
    @extend [data-playlist="playlist"];
    cursor: pointer;
}


/* 
.submit-cancel-button {
   clear: both;
   float: right;
   position: fixed;
   top: 500px;
   right: 35px;
   button {
     @extend %buttons;
     width: 120px;
   }
}
*/

.create-playlist-submit {
    text-shadow: 0px 0px 12px lighten(darken($global-color,15%),5%);
    color: lighten(darken($global-color,10%),15%);
    cursor: pointer;
    font-size: 2.5em !important;
    margin-left: 12px;
    vertical-align: middle;
    transition: .2s color ease-in;
    &:hover {
        color: lighten($global-color,30%);
    }
}
