.remove-playlist-body {
    @extend %new_window_body;
}

.removeplaylist-header {
    @extend %new_window_headers;
}

.removeplaylist {
    @extend .loadplaylist;
}

.removeplaylist-btn {
    .remove-btn {
        @extend %buttons;
        float: right;
        width: 19%;
        margin-top: 0;
    }
}
