extends ../__layout.pug

block title
  title Settings

block link
  link(rel="stylesheet", href="../../css/main.css")
  link(rel="stylesheet", href="../../libs/font-awesome.min.css")

block body
  body(class="settings-body")
    header(class="settings-header")
      div(class="window-title") Settings
      div(class="window-state-buttons")
        ul(class="window-buttons")
          li(class="fa fa-window-minimize window-min")
          li(class="fa fa-window-maximize window-max")
          li(class="fa fa-window-close window-close")
          
    section(class="settings")
    
      div(class="settings-items")
      
        div(class="settings-search")
          label
            p Filter
            input(type="text" placeholder="quick search" class="search")
            
        ul(class="settings-list")
          include ./_settings-var.pug
          - for ( let settings of Object.keys(settingsItems) )  {
            - let settingsClass = settings.toLowerCase().replace(/s\+/,"");
            li(class=settingsClass + "-settings settings-list-item")= settings
          - }
          
      div(class="settings-values")
        include ./defaultsettingspage.pug
    script(src="../../js/settings.js")