extends ../__layout.pug

block title
  title Buttons

block link
  link(rel="stylesheet", href="../../css/main.css")
  link(rel="stylesheet", href="../../libs/font-awesome.min.css")


block body
  body(class="ui_button-body")
    header(class="ui_button-header")
      div(class="window-title") Buttons
      div(class="window-state-buttons")
        ul(class="window-buttons")
          li(data-winop="minimize")
          li(data-winop="maximize")
          li(data-winop="close")

    section(class="_ui_button_")

      div(class="ui_button")

        ul(class="ui_button-parent")

          li(class="ui_button-list" data-category="control-buttons")

            p Control Buttons

          li(class="ui_button-list" data-category="media-buttons")
            p Media Buttons

          li(class="ui_button-list" data-category="podcast-buttons")
            p Podcast Buttons

          li(class="ui_button-list" data-category="subtitle-buttons")
            p Subtitle Buttons

          li(class="ui_button-list" data-category="download-buttons")
            p Download Buttons

          li(class="ui_button-list" data-category="window-buttons")

            p Window Buttons
            
          li(class="ui_button-list" data-category="playlist-buttons")
          
            p Playlist Buttons


    script(src="../../js/settings/ui_buttons.js")
