extends ../__layout.pug

block title
  title Buttons

block link
  link(rel="stylesheet", href="../../css/main.css")
  link(rel="stylesheet", href="../../libs/font-awesome.min.css")


block body
  body(class="ui_button-body")
    header(class="ui_button-header")
      div(class="window-title") Buttons
      div(class="window-state-buttons")
        ul(class="window-buttons")
          li(data-winop="minimize")
          li(data-winop="maximize")
          li(data-winop="close")

    section(class="_ui_button_")

      div(class="ui_button")

        ul(class="ui_button-parent")

          li(class="ui_button-list" data-category="control-buttons")

            p Control Buttons

            //div(class="control-buttons-item")
              //i(class="fa" data-icon_type="play" data-tooltip)

            //div(class="control-buttons-item")
              //i(class="fa" data-icon_type="pause" data-tooltip)

            //div(class="control-buttons-item")
              //i(class="fa" data-icon_type="stop" data-tooltip)

            //div(class="control-buttons-item")
              //i(class="fa" data-icon_type="backward" data-tooltip)

            //div(class="control-buttons-item" data-tooltip)
              //i(class="fa" data-icon_type="forward" data-tooltip)

            //div(class="control-buttons-item")
              //i(class="fa" data-icon_type="volume" data-tooltip)

            //div(class="control-buttons-item")
              //i(class="fa" data-icon_type="filters" data-tooltip)

            //div(class="control-buttons-item")
              //i(class="fa" data-icon_type="cc" data-tooltip)

            //div(class="control-buttons-item")
              //i(class="fa" data-icon_type="repeat" data-tooltip)

            //div(class="control-buttons-item")
              //i(class="fa" data-icon_type="random" data-tooltip)

            //div(class="control-buttons-item")
              //i(class="fa" data-icon_type="expand" data-tooltip)

          li(class="ui_button-list" data-category="media-buttons")
            p Media Buttons


            //div(class="media-buttons-item")
              //i(class="fa" data-icon_type="play" data-tooltip)
            //div(class="media-buttons-item")
              //i(class="fa" data-icon_type="pause" data-tooltip)
            //div(class="media-buttons-item")
              //i(class="fa" data-icon_type="check" data-tooltip)
            //div(class="media-buttons-item")
              //i(class="fa" data-icon_type="uncheck" data-tooltip)

          li(class="ui_button-list" data-category="podcast-buttons")
            p Podcast Buttons
            //div(class="podcast-buttons-items")
              //i(class="fa" data-icon_type="play" data-tooltip)

            //div(class="podcast-buttons-items")
              //i(class="fa" data-icon_type="home" data-tooltip)

            //div(class="podcast-buttons-items")
              //i(class="fa" data-icon_type="grid" data-tooltip)

            //div(class="media-buttons-item")
              //i(class="fa" data-icon_type="list" data-tooltip)

            //div(class="media-buttons-item")
              //i(class="fa" data-icon_type="uncheck" data-tooltip)

            //div(class="media-buttons-item")
              //i(class="fa" data-icon_type="times" data-tooltip)

            //div(class="media-buttons-item")
              //i(class="fa" data-icon_type="folder" data-tooltip)

            //div(class="media-buttons-item")
              //i(class="fa" data-icon_type="close" data-tooltip)

            //div(class="media-buttons-item")
              //i(class="fa" data-icon_type="download" data-tooltip)

          li(class="ui_button-list" data-category="subtitle-buttons")
            p Subtitle Buttons
            //div(class="subtitle-buttons-item")
              //i(class="fa fa-play" data-icon_type="play" data-tooltip)
            //div(class="subtitle-buttons-item")
              //i(class="fa fa-stop stop" data-tooltip)
            //div(class="subtitle-buttons-item")
              //i(class="fa fa-backward backward" data-tooltip)
            //div(class="subtitle-buttons-item" data-tooltip)
              //i(class="fa fa-forward forward" data-tooltip)
            //div(class="subtitle-buttons-item")
              //i(class="fa fa-volume-up volume" data-tooltip)
            //div(class="subtitle-buttons-item")
              //i(class="fa fa-th-list filters" data-tooltip)
            //div(class="subtitle-buttons-item")
              //i(class="fa fa-cc cc" data-tooltip)
            //div(class="subtitle-buttons-item")
              //i(class="fa fa-repeat repeat" data-tooltip)
            //div(class="subtitle-buttons-item")
              //i(class="fa fa-random random" data-tooltip)
            //div(class="subtitle-buttons-item")
              //i(class="fa fa-expand expand" data-tooltip)

          li(class="ui_button-list" data-category="download-buttons")
            p Download Buttons
            //div(class="download-buttons-item")
              //i(class="fa fa-play" data-icon_type="play" data-tooltip)
            //div(class="download-buttons-item")
              //i(class="fa fa-stop stop" data-tooltip)
            //div(class="download-buttons-item")
              //i(class="fa fa-backward backward" data-tooltip)
            //div(class="download-buttons-item" data-tooltip)
              //i(class="fa fa-forward forward" data-tooltip)
            //div(class="download-buttons-item")
              //i(class="fa fa-volume-up volume" data-tooltip)
            //div(class="download-buttons-item")
              //i(class="fa fa-th-list filters" data-tooltip)
            //div(class="download-buttons-item")
              //i(class="fa fa-cc cc" data-tooltip)
            //div(class="download-buttons-item")
              //i(class="fa fa-repeat repeat" data-tooltip)
            //div(class="download-buttons-item")
              //i(class="fa fa-random random" data-tooltip)
            //div(class="download-buttons-item")
              //i(class="fa fa-expand expand" data-tooltip)

          li(class="ui_button-list" data-category="window-buttons")

            p Window Buttons

            //div(class="window-buttons-item")
              //i(class="fa" data-icon_type="close" data-tooltip)

            //div(class="window-buttons-item")
              //i(class="fa" data-icon_type="minimize" data-tooltip)

            //div(class="window-buttons-item")
              //i(class="fa" data-icon_type="maximize" data-tooltip)


    script(src="../../js/settings/ui_buttons.js")
