div(class="akara-playlist")
  div(class="playlist-indicator")
    span(class="fa fa-dot-circle-o")
    span(class="playlist-name") Playlist
  div(class="playlist-widget")
    span(class="playlist-delete playlist-widget-item" data-title="delete playlist" data-playlist-op="delete")
    span(class="playlist-load playlist-widget-item" data-title="load playlist" data-playlist-op="load")
    span(class="playlist-create playlist-widget-item" data-title="create playlist" data-playlist-op="add")
    span(class="playlist-select playlist-widget-item" data-title="selection mode" data-playlist-op="uncheck")
    span(class="playlist-remove playlist-widget-item" data-title="remove playlist" data-playlist-op="times")