
extends ./__layout.pug

block title
  title Add Playlist

block body

  body(class="addplaylist-body")
    header(class="addplaylist-header")
      span Add Playlist
      span(class="fa fa-window-close addplaylist-close")

    section(class="addplaylist")

    div(class="addplaylist-btn")
      button(class="add-btn" type="submit") Add
    script(src="../js/addplaylist.js")
