div(class="akara-control")
   div(class="akara-time")
      div(class="akara-time-length")
        div(class="akara-time-current")
        div(class="akara-time-buffered")
            //-span(class="fa fa-circle akara-time-dragger")
   div(class="akara-control-element")
      span(class="akara-update-cur-time") 00:00 / 00:00
      ul(class="akara-media-control-left")
         li(data-fire="play")
         li(class="akara-display" data-fire="pause")
         li(data-fire="stop")
         li(data-fire="previous")
         li(data-fire="next")
         li(class="fa fa-volume-up" data-fire="volume")
         li(class="akara-volume")
             - for ( let i = 0; i <= 10 ; i++ ) {
                 - if ( i <= 6 )
                      span(class="volume-incr" data-volume-controler=( i / 10 ) data-volume-set="true")
                 - else
                      span(class="volume-incr" data-volume-controler=( i / 10 ))
             - }
      ul(class="akara-media-control-right")
         li(class="expand" data-fire="expand" ___="expand")
         li(data-fire="filter")
         li(data-fire="subtitle" ___="turn on/off subtitle" data-sub-on="true")
         li(class="akara-control-repeat" data-fire="repeat" ___="normal")
         li(data-fire="random" ___="random/no-random")
         li(data-fire="enterfullscreen" ___="fullscreen")
   div(class="cover-on-error-src")