doctype html
html
  head
    title Download
    link(rel='stylesheet', href='../css/main.css')
    link(rel='stylesheet', href='../libs/font-awesome.min.css')
  body(class="download-body")
    header(class="akara-download-header")
      span Download
      span(class="fa fa-window-close download-close")
    section(class="download")
      p(class="akara-download-filename") ( ... )
      div(class="akara-total-byte")
        div(class="akara-download-meter")
      p(class="akara-downloading-percent") 20%
      div(class="akara-bytes")
        span(class="akara-currentByte") --
        span(class="akara-totalByte") --
      p(class="akara-download-state") Connecting
      div(class="download-control-button")
        button(class="akara-download-cancel") Cancel
        button(class="akara-download-pause" disabled) Pause
        button(class="akara-download-resume" hidden) Resume
        button(class="akara-download-restart" hidden) Restart
    script(src='../js/download.js')
