doctype html

html
   head
     title= "Akara Media Player"
     link(rel="stylesheet", href="")
     link(rel="stylesheet", href="../css/main.css")
     link(rel="stylesheet", href="../libs/font-awesome.min.css")
   body
      header(class="akara-title-bar")
         span(class="fa fa-ellipsis-v akara-menu-toggle")
            div(class="akara-dropdown" hidden)

                ul(class="akara-dropdown-item")

                   li(class="akara-dropdown-list akara-drop-add") Add
                       ul(class="akara-add-media" hidden)
                          li(class="fa-file akara-dropdown-list" data-drop="addMediaFile") 
                              span Add Files
                          li(class="fa-folder akara-dropdown-list" data-drop="addMediaFolder") 
                              span Add Folder
                   li(class="akara-dropdown-list" data-drop="saveMedia") Save
                   li(class="akara-dropdown-list" data-drop="loadPlist") Load Playlist
                   li(class="akara-dropdown-list screenshot" data-drop="screenshot") Screenshot
                   li(class="akara-dropdown-list akara-drop-media") Media Elements
                       ul(class="akara-media-element" hidden)
                           li(class="akara-dropdown-list" data-drop="play") Play
                           li(class="akara-dropdown-list" data-drop="pause") Pause
                           li(class="akara-dropdown-list" data-drop="mute") Mute
                           li(class="akara-dropdown-list" data-drop="stop") Stop
                           li(class="akara-dropdown-list" data-drop="speed") Speed
                   li(class="akara-dropdown-list" data-drop="loadsub") Load Subtitle
                   li(class="akara-dropdown-list" data-drop="youtube") Youtube
                   li(class="akara-dropdown-list" data-drop="vimeo") Vimeo
                   li(class="akara-dropdown-list" data-drop="spotify") Spotify
                   li(class="akara-dropdown-list" data-drop="medlink") Media Link
                   li(class="akara-dropdown-list" data-drop="settings") Settings

         div(class="akara-title") AKARA MEDIA PLAYER
         div(class="akara-window-state")
            ul(class="akara-window-sate-buttons")
               li(class="fa fa-window-minimize akara-min")
               li(class="fa fa-window-maximize akara-max")
               li(class="fa fa-window-close akara-close")
      include list_loaded.pug
      script(src="../js/akara_statebuttons.js")
      script(src="../js/menu.js")
      script(src="../js/dropdown.js")
      script(src="../js/akara_resize_loader.js")
      script(src="../js/dropdown_events.js")
      script(src="../js/loaded_media_event.js")
