doctype html

html
   head
     title= "Akara Media Player"
     link(rel="stylesheet", href="")
     link(rel="stylesheet", href="../css/main.css")
     link(rel="stylesheet", href="../libs/font-awesome.min.css")
   body
      header(class="akara-title-bar")
         div(class="akara-title")
         div(class="akara-window-state")
            ul(class="akara-window-sate-buttons")
               li(class="fa fa-window-minimize akara-min")
               li(class="fa fa-window-maximize akara-max")
               li(class="fa fa-window-close akara-close")
      script(src="../js/akara_statebuttons.js")

