doctype html

html
   head
     title= "Akara"
     link(rel="stylesheet", href="")
     link(rel="stylesheet", href="../css/main.css")
     link(rel="stylesheet", href="../libs/font-awesome.min.css")
   body
      header(class="akara-title-bar")
         span(class="fa fa-ellipsis-v akara-menu-toggle")
            div(class="akara-dropdown" hidden)

                ul(class="akara-dropdown-item")

                   li(class="fa fa-plus-circle akara-dropdown-list akara-drop-add")
                       span Add
                       ul(class="akara-add-media" hidden)
                          li(class="fa-file akara-dropdown-list" data-drop="addMediaFile")
                              span Add Files
                          li(class="fa-folder akara-dropdown-list" data-drop="addMediaFolder")
                              span Add Folder

                   li(class="fa fa-save akara-dropdown-list" data-drop="saveMedia")
                        span Save

                   li(class="akara-dropdown-list" data-drop="loadPlist") Load Playlist

                   li(class="fa fa-picture-o akara-dropdown-list screenshot" data-drop="screenshot")
                       span Screenshot

                   li(class="fa fa-gears akara-dropdown-list akara-drop-media")
                       span Media Control
                       ul(class="akara-media-element" hidden)
                           li(class="fa fa-play akara-dropdown-list" data-drop="_play")
                               span Play
                           li(class="fa fa-pause akara-dropdown-list" data-drop="_pause")
                               span Pause
                           li(class="fa fa-volume-up akara-dropdown-list" data-drop="_mute")
                               span Mute
                           li(class="fa fa-stop akara-dropdown-list" data-drop="_stop")
                               span Stop
                           li(class="fa fa-forward akara-dropdown-list" data-drop="_next")
                               span Next
                           li(class="fa fa-backward akara-dropdown-list" data-drop="_previous")
                               span Previous

                   li(class="fa fa-cc akara-dropdown-list")
                       span Subtitle
                       ul(class="akara-subtitle" hidden)
                           li(class="akara-dropdown-list" data-drop="loadsub") Load Subtitle
                           li(class="akara-dropdown-list" data-drop="unloadsub") Unload Subtitle
                           li(class="akara-dropdown-list" data-drop="onlinesub") Get Subtitle ( Internet )

                   li(class="fa fa-cloud akara-dropdown-list")
                       span Internet
                       ul(class="akara-internet-media" hidden)
                           li(class="fa fa-youtube-play akara-dropdown-list" data-drop="youtube")
                               span Youtube
                           li(class="fa fa-vimeo akara-dropdown-list" data-drop="vimeo")
                               span Vimeo
                           li(class="fa fa-spotify akara-dropdown-list" data-drop="spotify")
                               span Spotify
                           li(class="fa fa-podcast akara-dropdown-list" data-drop="podcast")
                               span Podcast

                   li(class="fa fa-gear akara-dropdown-list" data-drop="settings")
                       span Settings

                   li(class="fa fa-search akara-dropdown-list" data-drop="search")
                       span Search

                   li(class="fa fa-share akara-dropdown-list" data-drop="share")
                       span Share

         div(class="akara-title") AKARA MEDIA PLAYER
         div(class="akara-window-state")
            ul(class="akara-window-sate-buttons")
               li(class="fa fa-window-minimize akara-min")
               li(class="fa fa-window-maximize akara-max")
               li(class="fa fa-window-close akara-close")
      include list_loaded.pug   
      script(src="../js/akara_statebuttons.js")
      script(src="../js/dropdown.js")
      script(src="../js/akara_resize_loader.js")
      script(src="../js/dropdown_events.js")
      script(src="../js/loaded_media_event.js")
      script(src="../js/video_events.js")
