doctype html

html
  head
    title InputPin
    link(rel="stylesheet", href="../css/main.css")
    link(rel="stylesheet", href="../libs/font-awesome.min.css")
  body(class="inputpin-body")
    header(class="akara-inputpin-header")
      span Input Pin
      span(class="fa fa-window-close inputpin-close")
    section(class="inputpin")
      input(type="text" class="inputpin-input")
      button(type="submit" class="inputpin-pin") Share
    script(src="../js/pinauth.js")