div(class="akara-media")
    div(class="akara-media-cover")
        video(src="./vid.mp4") 
    div(class="akara-load")
        div(class="akara-loaded-dragger" draggable="true")
        ul(class="akara-loaded") adfadf
