div(class="akara-media")
    div(class="akara-media-cover")
        video(src="./vid.mp4")
    div(class="akara-load")
        div(class="akara-loaded-dragger")
        ul(class="akara-loaded")
    include akara_control
