div(class="akara-media")
    div(class="akara-media-cover")
        video()
    div(class="akara-load")
        div(class="akara-loaded-dragger")
        ul(class="akara-loaded")
    include akara_control
