div(class="akara-media")
    div(class="akara-media-cover")
      p(class="akara-output-process" hidden)
      video
    div(class="akara-media-network-state")
      i(class="fa fa-spinner fa-pulse fa-5x")
    div(class="akara-load")
        div(class="akara-loaded-dragger")
        include playlist.pug
        ul(class="akara-loaded")
    include akara_control
