div(class="akara-media")
    div(class="akara-media-cover")
        video(src="/root/Pictures/NetBeansProjects/Lojom/public_html/videos/d33p.webm") 
    div(class="akara-load")
        div(class="akara-loaded-dragger")
        ul(class="akara-loaded")
