div(class="akara-media")
    div(class="akara-media-cover")
      p(class="akara-output-process" hidden)
      video(poster="../img/logo.jpg")
    div(class="akara-load")
        div(class="akara-loaded-dragger")
        include playlist.pug
        ul(class="akara-loaded")
    include akara_control
