
extends ./__layout.pug

block title
  title Load Playlist

block body
  body(class="load-playlist-body")
    header(class="loadplaylist-header")
      span Load Playlist
      span(class="fa fa-window-close" data-winop="close")

    section(class="loadplaylist")

    div(class="loadplaylist-btn")
      button(class="load-btn" type="submit") Load

    script(src="../js/loadplaylist.js")