doctype html

html
  head
    title LoadPlaylist
    link(rel='stylesheet', href='../css/main.css')
    link(rel='stylesheet', href='../libs/font-awesome.min.css')
  body(class="load-playlist-body")
    header(class="loadplaylist-header")
      span Load Playlist
      span(class="fa fa-window-close loadplaylist-close")
    section(class="loadplaylist")
    
    button(class="loadplaylist-load" type="submit") Load
      
    script(src="../js/loadplaylist.js")