doctype html

html
  head
    block mainTitle
      title LoadPlaylist
    link(rel='stylesheet', href='../css/main.css')
    link(rel='stylesheet', href='../libs/font-awesome.min.css')
  body(class="load-playlist-body remove-playlist-body")
    header(class="loadplaylist-header removeplaylist-header")
      block title
        span Load Playlist
      span(class="fa fa-window-close loadplaylist-close removeplaylist-close")
    section(class="loadplaylist removeplaylist")

    block button
      button(class="loadplaylist-load" type="submit") Load
    block script
      script(src="../js/loadplaylist.js")