extends ./__layout.pug

block title
 title Media Info

block body
   body(class="media-body")
      header(class="media-header")
          div(class="window-title") Media Info
          div(class="window-state-buttons")
            ul(class="window-buttons")
              li(data-winop="minimize")
              li(data-winop="maximize")
              li(data-winop="close")

      section(class="media")
        div(class="media-info")

      script(src="../js/Mediainfo.js")