extends ./__layout.pug

block title
 title Media Info

block body
   body(class="media-info")
      header(class="akara-media-info")
          span Media Info
          span(class="fa fa-window-close media-close")
      section(class="akara-info")
      
      script(src="../js/mediainfo.js")