doctype html

html
   head
      title Mediainfo
      link(rel="stylesheet", href="../css/main.css")
      link(rel="stylesheet", href="../libs/font-awesome.min.css")
   body(class="media-info")
      header(class="akara-media-info")
          span Media Info
          span(class="fa fa-window-close media-close")
      section(class="akara-info")
      
      script(src="../js/mediainfo.js")