div(class="akara-playlist")
  div(class="playlist-indicator")
    span(class="fa fa-dot-circle-o")
    span(class="playlist-name") Playlist
  div(class="playlist-widget")
    span(class="fa fa-trash playlist-delete playlist-widget-item" data-title="delete playlist")
    span(class="fa fa-file-powerpoint-o playlist-load playlist-widget-item" data-title="load playlist")
    span(class="fa fa-plus-circle playlist-create playlist-widget-item" data-title="create playlist")
    span(class="fa fa-square-o playlist-select playlist-widget-item" data-title="selection mode")
    span(class="fa fa-times-circle playlist-remove playlist-widget-item" data-title="remove playlist")