doctype html

html
  head
    title podcast
    link(rel="stylesheet" href="../css/main.css")
    link(rel="stylesheet" href="../libs/font-awesome.min.css")
  body(class="podcast-body")
    header(class="podcast-header")
      span Podcast
      span(class="fa fa-window-close podcast-close")
    section(class="podcast")
      aside(class="podcast-left")
        ul(class="podcast-fnality")
          li(class="podcastadd") Add Podcast
          li(class="podcastremove") Remove Podcast
        ul(class="podcast-links")
          li(class="podcastload")
            p Podcast
      aside(class="podcast-right")
    script(src="../js/podcast.js")