extends ./__layout.pug

block title
  title Podcast
  
block body
  body(class="podcast-body")
    header(class="podcast-header")
      span Podcast
      span(class="fa fa-window-close podcast-close")
    section(class="podcast" data-view="grid")
        div(class="podcast-view-list")
          span(class="podcasthome")
            i(class="fa fa-home podcast-icon-operation")
          span(class="podcastlist")
            i(class="fa fa-list podcast-icon-operation")
          span(class="podcastgrid")
            i(class="fa fa-th-large podcast-icon-operation")
        div(class="podcast-operation-item")
          span(class="podcastcheck")
            i(class="fa fa-check-square podcast-icon-operation")
          span(class="podcastadd")
            i(class="fa fa-plus-square podcast-icon-operation")
          span(class="podcastremove")
            i(class="fa fa-window-close podcast-icon-operation")
        ul(class="podcastload-main")
          p(class="nopodcast")
        ul(class="podcastload-podcaster")
    script(src="../js/podcast.js")