extends ./__layout.pug

block title
  title Podcast
  
block link
  link(rel="stylesheet", href="../css/main.css")
  link(rel="stylesheet", href="../libs/font-awesome.min.css")
  
block body

  body(class="podcast-body")
    header(class="podcast-header")
      div(class="window-title") Podcast
      div(class="window-state-buttons")
        ul(class="window-buttons")
          li(data-winop="minimize")
          li(data-winop="maximize")
          li(data-winop="close")
      
    section(class="podcast" data-view="grid")
        div(class="podcast-view-list")
          span(class="podcasthome")
            i(class="podcast-icon-operation" data-podcast-op="home")
          span(class="podcastlist")
            i(class="podcast-icon-operation" data-podcast-op="list")
          span(class="podcastgrid")
            i(class="podcast-icon-operation" data-podcast-op="grid")
        div(class="podcast-operation-item")
          span(class="podcastcheck")
            i(class="podcast-icon-operation" data-podcast-op="uncheck")
          span(class="podcastadd")
            i(class="podcast-icon-operation" data-podcast-op="add")
          span(class="podcastremove")
            i(class="podcast-icon-operation" data-podcast-op="times")
        ul(class="podcastload-main")
          p(class="nopodcast")
        ul(class="podcastload-podcaster")
    script(src="../js/LoadSettings/LoadPodcastSettings.js")
    script(src="../js/podcast.js")