extends loadplaylist.pug

block mainTitle
  title RemovePlaylist

block title
  span Remove Playlist

block button
  button(class="removeplaylist-load" type="submit") Remove

block script
  script(src="../js/removeplaylist.js")
  