extends ./__layout.pug

block title
  title Remove Playlist

block body
  body(class="load-playlist-body remove-playlist-body")
    header(class="loadplaylist-header removeplaylist-header")
      span Remove Playlist
      span(class="fa fa-window-close removeplaylist-close")
      
    section(class="loadplaylist removeplaylist")

    button(class="removeplaylist-load" type="submit") Remove
    script(src="../js/removeplaylist.js")
  