extends ./__layout.pug

block title
  title Remove Playlist

block body
  body(class="remove-playlist-body")
    header(class="removeplaylist-header")
      span Remove Playlist
      span(class="fa fa-window-close" data-winop="close")

    section(class="removeplaylist")

    div(class="removeplaylist-btn")
      button(class="remove-btn" type="submit") Remove

    script(src="../js/removeplaylist.js")
