div(class="akara-dropdown akara-dropdown-repeat" hidden)
  ul(class="akara-dropdown-item")
    li(class="akara-dropdown-list" data-fire="repeatOne")
      span Repeat One
    li(class="akara-dropdown-list" data-fire="repeatAll")
      span Repeat All