extends ./__layout.pug

block title
  title Settings

block link
  link(rel="stylesheet", href="../css/main.css")
  link(rel="stylesheet", href="../libs/font-awesome.min.css")

block body
  body(class="settings-body")
    header(class="settings-header")
      div(class="window-title") Settings
      div(class="window-state-buttons")
        ul(class="window-buttons")
          li(data-winop="minimize")
          li(data-winop="maximize")
          li(data-winop="close")
          
    section(class="settings")
    
      div(class="settings-items")
      
        div(class="settings-search")
          label
            p Filter
            input(type="text" placeholder="quick search" class="search")
            
        ul(class="settings-list")
          include ./settings/_settings-var.pug
          - for ( let settings of Object.keys(settingsItems) )  {
            - let settingsClass = settings.toLowerCase().replace(/s\+/,"");
            li(class=settingsClass + "-settings settings-list-item")= settings
          - }
          
      div(class="settings-values")
        include ./settings/defaultsettingspage.pug
    script(src="../js/Settings.js")