extends ./__layout.pug

block title
  title Subtitle
  
  
block body
   body(class="subtitle-body")
     header(class="akara-subtitle-header")
       span Download Subtitles
       span(class="fa fa-window-close subtitle-close")
     section(class="subtitle")
         form(class="subtitle-form")
            label(for="input") Name of Movie/Series
            input(class="subtitle-form-input" type="text" id="input")

            label(for="movies") Movies
            input(class="subtitle-radio subtitle-form-input" type="checkbox" id="movies" checked)

            label(for="series") Series
            input(class="subtitle-radio subtitle-form-input" type="checkbox" id="series")
            div(class="series-option" hidden)
                label(for="season") Season
                input(class="subtitle-series-type subtitle-form-input" type="text" id="season")

                label(for="episode") Episode
                input(class="subtitle-series-type subtitle-form-input" type="text" id="episode")
           
            button(class="fa fa-search" type="search") Search
         section(class="subtitle-loaded")
           p(class="subtitle-info")
 
     script(src="../js/subtitles.js")
