extends ./__layout.pug

block title
  title Subtitle
  
  
block body
   body(class="subtitle-body")
     header(class="akara-subtitle-header")
       span Download Subtitles
       span(class="fa fa-window-close subtitle-close")
     section(class="subtitle")
         form(class="subtitle-form")
         
            label(for="input") Name of Movie/Series
            input(class="subtitle-form-input" type="text" id="input")
            i(class="fa fa-search subtitle-search-net" type="search")

            span.movies Movies
              i(class="fa fa-check-circle subtitle-movie-checkbox" data-checked="checked")

            span.series Series
              i(class="fa fa-circle subtitle-series-checkbox")
            
            div(class="series-option" hidden)
                label(for="season") Season
                input(class="subtitle-series-type subtitle-form-input" type="text" id="season")

                label(for="episode") Episode
                input(class="subtitle-series-type subtitle-form-input" type="text" id="episode")
                
         section(class="subtitle-loaded")
           p(class="subtitle-info")
 
     script(src="../js/Subtitles.js")
