.addplaylist-body {
    @extend %new_window_body;
}
.addplaylist-header {
    @extend %new_window_headers;
}

.addplaylist {
    padding: 15px;

    a {
        cursor: pointer;
        &:hover {
            color: lighten(darkgrey, 5%);
            text-decoration: underline;
        }
    }
    input {
        @extend %form-input;
        display: inline;
        width: 60%;
    }
    i {
        color: white;
        padding: 5px;
        border-radius: 100%;

        background: black;
        transition: .2s background ease-in;

        margin-left: 10px;

        cursor: pointer;
        
        &:hover {
            background: lighten(black, 40%);
        }
    }
    select {
        margin-top: 12px;
        padding: 15px;
        width: 60%;
        display: block;
        border: 0.5px solid lightgrey;

        overflow: auto;
        option {
            padding: 15px;
            background: lightgrey;
            p:first-letter {
                text-transform: uppercase;
            }
        }
    }

    .submitaddplaylist {
        padding: 20px;
        width: 20%;

        font-size: 17px;

        margin-top: 12px;

        position: absolute;
        right: 23px;

        border: none;

        cursor: pointer;

        transition: .2s background,color ease-in;
        &:hover {
            background: darken(lightgrey,70%);
            color: white;
        }
    }

}

