.addplaylist-body {
    @extend %new_window_body;
}

.addplaylist-header {
    @extend %new_window_headers;
}

.addplaylist {
    @extend .loadplaylist;
}

.addplaylist-btn {
    .add-btn {
        @extend %buttons;
        float: right;
        width: 19%;
        margin-top: 0;
    }
}

.addplaylist-newlist,
.addplaylist-inputnew,
.addplaylist-btnnew {
    display: flex;
    justify-content: center;
    margin: 15px auto !important;
}

.addplaylist-inputnew {
    width: 30%;
    padding: 5px;
    border-radius: 12px;
    border: none;
}


.addplaylist-btnnew {
    @extend %buttons;
    float: initial;
}
