
.akara-media-element,
.akara-add-media,
.akara-subtitle,
.akara-internet-media {
    @extend %hovered_menu_item_unhide;
    @extend %move_droped_span;
    @extend %submenu_default_li_width;
}

.akara-add-media {
    top: $drop-down-top-pos - $drop-down-top-pos;
}

.akara-subtitle {
    top: $drop-down-top-pos + 51px;
}

.akara-internet-media {
    top: $drop-down-top-pos + 102px;
}

.akara-dropdown {
    @extend %hovered_menu_item_unhide; 
    
    text-align: left;

    height: 0;
    
    left: 10px;
    top: 30px;
    
    //padding-left: 10px;
    //padding-right: 50px;
    
    border: 1px solid white;

    font-size: 20px;

    position: absolute;
    
    ul {
        //position: absolute;
        @extend %move_droped_span;
        
        li {
            
            visibility: hidden;

            font-size: 1rem;
            
            padding: 10px;
            
            transition: .3s;

            //width: inherit;
            
            &:hover {
                background-color: darkgrey;
            }
        }

        @for $i from 1 through 15 {
            li:nth-of-type(#{$i}) {

                animation-name: dropdown-anim;
                animation-duration: .3s;
                animation-fill-mode: forwards;
                animation-direction: normal;
                animation-delay: .2s;
            }
        }
        
    }

}

[data-anim-height="anim-height"] {
    animation-name: height-anim;
    animation-timing-function: ease-in;
    animation-duration:.285s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes height-anim {
    0% {
        height: 10px;
    }

    100% {
        height: 630px;
    }
}

@keyframes dropdown-anim {
    0% {
        margin-top: 10px;
        visibility: visible;
    }

    20% {
        margin-top: 11px;
    }

    40% {
        margin-top: 12px;
    }
    80% {
        margin-top: 13px;
    }
    100% {
        margin-top: 15px;
        visibility: visible;
    }
}