$volume-color: white;

.akara-control,.cover-on-error-src {

    position: fixed;

    right: 0;
    left: 0;
    bottom: 0;
    
    background: darken($global-color,20%);
}

.cover-on-error-src {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top:0;


    background: $global-color;

    opacity: .75;
}

.akara-time {

    width: 100%;

    .akara-time-length {

        background: darkgrey;

        height: 12px;
        cursor: pointer;

        width: inherit;

        .akara-time-current {
            width: 0;
            background: darken($global-color,10%);
            height: inherit;
        }

    }

}

.akara-media-control-left {
    float: left;
}

.akara-media-control-right {
    float: right;
}

.akara-media-control-left,
.akara-media-control-right {

    width: percent(50 ( 20 + 20 ) );
    
    li.akara-volume {
        display: inline-block;
    }
    
    li.fa {

        cursor: pointer;

        margin: 10px;

        cursor: pointer;

        border-width: 12px;

        padding: 20px;

        border-radius: 50%;

        box-shadow: 5px 5px 20px #000 inset;

        transition: .2s box-shadow ease-in-out;

        &:hover {
            box-shadow: 5px 5px 20px lighten(#000,15%) inset;
        }
    }
}

.akara-update-cur-time {
    display: block;
    margin: 15px auto auto 20px;
}
.akara-display {
    display: none !important;
}

[data-hover="true"] {
    position: absolute;

    border-radius: 10%;

    background: $global-color;

    padding: 3px;
    span {
        color: white;
    }
}




.volume-incr {
   

    border-top: {
        right-radius: 10%;
        left-radius: 10%;
    }
    //margin-left: 8px;
    
    padding: 1px;
    background: lighten(black,20%);//$volume-color;


    padding-right: 12px;

    cursor: pointer;

}


$cur-pad-top: 1;
@for $i from 1 through 11 {
    .volume-incr:nth-of-type(#{$i}) {
        
        @if $i == 1 {
            margin-left: -5px;
        }
        padding-top: $cur-pad-top + px;
        
        $cur-pad-top: $cur-pad-top + 3;
    }
}

[data-volume-set="true"] {
    background: #fff;
}