$akara-media-width: 100%;
$akara-media-height: 100%;
$akara-media-cover-width: 70%;
$akara-media-element-height: 100%;

$akara-load-width: 20% ;//- $akara-media-cover-width;

.akara-media {


    clear: both;

    width: $akara-media-width;
    height: $akara-media-height;

    color: darken(#fff,20%);

    .akara-media-cover {

        float: right;
        width: 80%;
        height: 80%;
        video {
            width: 100% !important;
            height: 100% !important;
        }
    }
    .akara-load {

        float: left;

        width: $akara-load-width;

        margin-right: -8px;

        height: inherit;

        background: darken($global-color,15%);

        /***********************/
        /* position: relative; */
        /* z-index: 3333;      */
        /***********************/

        .akara-loaded-dragger {

            height: inherit;
            cursor: ew-resize;
            float: right;

            border: 2px solid darken(#fff,90%);
            resize: both;
        }

        .akara-loaded {

            //overflow: auto;
            overflow-y: auto;

            height: inherit;

            //margin-top: 20px;
            margin-right: 6px;

            > li {

                padding: 5px;

                width: inherit;

                cursor: pointer;

                font-size: 1.2em;
                font-family: DejaVau;


                margin-top: 4px;

                white-space: nowrap;
                transition: .2s ease-in-out;

                &:hover {
                    @extend %loaded_media_hover_li;
                }

            }

            li:last-of-type {
                margin-bottom: 100px;
            }

        }
    }

}

[data-clicked="true"] {
    @extend %loaded_media_hover_li;
    width: 100% !important;
}

[data-dbclicked="true"] {
    span {
        margin-left: 12px;
    }
}
