
.akara-media-element,
.akara-add-media,
.akara-subtitle,
.akara-internet-media,
.akara-playlist-option {
    @extend %hovered_menu_item_unhide;
    @extend %move_droped_span;
    @extend %submenu_default_li_width;
}

.akara-add-media {
    top: $drop-down-top-pos - $drop-down-top-pos;
}

.akara-subtitle {
    top: $drop-down-top-pos + 51px;
}

.akara-internet-media {
    top: $drop-down-top-pos + 102px;
}

.akara-playlist-option {
    top: $drop-down-top-pos - 70px;
}

.akara-dropdown {
    @extend %hovered_menu_item_unhide;

    text-align: left;

    max-height: 0;

    left: 10px;
    top: 30px;

    border: 1px solid white;

    font-size: 20px;

    position: absolute;

    z-index: 5555;

    ul {
        //position: absolute;
        @extend %move_droped_span;

        li {

            visibility: hidden;

            font-size: 1rem;

            padding: 10px !important;

            transition: .3s !important;

            //width: inherit;

            animation-name: dropdown-anim;
            animation-duration: .3s;
            animation-fill-mode: forwards;
            animation-direction: normal;
            animation-delay: .2s;

            &:hover {
                background-color: darkgrey;
            }

        }

    }

}


[data-anim-height="anim-height"] {
    animation-name: height-anim;
    animation-timing-function: ease-in;
    animation-duration:.285s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
