
.akara-title-bar {
    height: 50px;
    border-bottom: 2px solid white;
    -webkit-app-region: drag;
    .akara-menu-toggle {
        
        color: black;
        float: left;

        font-size: 20px;
        
        margin: 5px auto auto 20px;

        background-color: white;
        
        cursor: pointer;
        
        border-radius: 100%;
        box-shadow: 0px 0px 5px 2px darken(#fff,50%);
        
        padding: 5px 13px;

        -webkit-app-region: no-drag;

        
    }
    .akara-title {
        
        color: white;
        
        float: left;

        //margin-top: 8px;
        
        font: {
            //weight: bolder;
            size: 18px;
        }
        padding: 12px;

    }
    
    .akara-window-state {
        float: right;
        -webkit-app-region: no-drag;
        > ul {
            margin-top: 7px;
            > li {
                display: inline;
                color: white;

                padding: 5px;

                margin-left: 20px;
                border-radius: 50%;
                
                cursor: pointer;
            }


            > li:last-of-type {
                transition: .3s color;
                &:hover {
                    color: darkred;
                }
            }
        }
    }
}