
.akara-title-bar {
    height: 50px;
    border-bottom: 2px solid white;
    
    .akara-menu-toggle {
        
        color: white;
        float: left;

        margin: 1px auto auto 20px;

        background-color: black;
        cursor: pointer;
        border-radius: 100%;


        padding: 5px 13px;

        
    }
    .akara-title {
        color: white;
        text-align: center;
        width: 70%;
        float: left;

        /*display: flex;
        justify-content: center;*/

        // enable dragging
        -webkit-app-region:drag;
        
        margin: auto;
        
        font: {
            //weight: bolder;
            size: 18px;
        }
        padding: 12px;

    }
    
    .akara-window-state {
        float: right;
        > ul {
            margin-top: 7px;
            > li {
                display: inline;
                color: white;

                padding: 5px;

                margin-left: 8px;
                border-radius: 50%;
                
                
                
                cursor: pointer;
            }


            > li:last-of-type {
                transition: .3s color;
                &:hover {
                    color: darkred;
                }
            }
        }
    }
}