$volume-color: white;

$akara-control-padding-right: 10;
$akara-control-padding-left: 10;
$akara-control-padding-top: 10;

.akara-control,.cover-on-error-src {

    position: fixed;

    right: 0;
    left: 0;
    bottom: 0;

    background: darken($global-color,20%);


    /**
     *
     * overwrite chromes default controls
     * 32bit integer value z-index
     *
     **/
    z-index: 5555555555555;
}

.akara-control {
    padding-left: $akara-control-padding-left + px;
    padding-right: $akara-control-padding-right + px;
    padding-top: $akara-control-padding-left + px;
}

.cover-on-error-src {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top:0;

    background: $global-color;
    opacity: .75;
}

.akara-time {

    width: 100%;

    .akara-time-length {

        background: darkgrey;

        height: 12px;
        cursor: pointer;

        width: inherit;

        .akara-time-current {
            width: 0;
            background: darken($global-color,10%);
            height: inherit;
            cursor: inherit;
            position: relative;
            z-index: 5555;
        }

        .akara-time-buffered {
            width: 0;
            background: lighten($global-color, 15%);
            height: inherit;
            cursor: inherit;
            margin-top: -11.55px;
        }

    }

}

.akara-media-control-left {
    float: left;
}

.akara-media-control-right {
    float: right;
}

.akara-media-control-left,
.akara-media-control-right {
    
    width: percent(50 ( 20 + 20 ) );

    /* padding-top: 40px; */
    /* padding-bottom: 40px; */
    /* padding-right: 40px; */

    li.akara-volume {
        display: inline-block;
    }

    li {
        font-size: 20px;
    }
    
    li[data-fire] {
        //display: inline;
        cursor: pointer !important;
        margin: 10px;
        border-width: 12px;
        border-radius: 50%;
        transition: .2s box-shadow ease-in-out;
        box-shadow: 5px 5px 20px #000 inset;
        padding: 15px;
        &:hover {
            opacity: .75;
            //box-shadow: 5px 5px 20px lighten(#000,15%) inset;
        }
    }

    [data-image_icon="image"] {

        display: inline;
        
        background-position: center;
        background-repeat: no-repeat;

        padding-right: 25px !important;
        padding-left: 25px !important;
        
        
    }

}

.akara-update-cur-time {
    display: block;
    margin: 15px auto auto 20px;
}
.akara-display {
    display: none !important;
}

[data-hover="true"] {
    position: absolute;

    border-radius: 10%;

    background: $global-color;

    padding: 3px;
    span {
        color: white;
    }
}

.expand {
    visibility: hidden;
}

.volume-incr {


    border-top: {
        right-radius: 10%;
        left-radius: 10%;
    }

    // work on this margin latter
    margin-left: 1px;

    padding: 1px;
    background: lighten(black,20%);


    padding-right: 9px;

    cursor: pointer;

}

.akara-media-fragment {
    $fragmet-color: darken($global-color,70%);
    position: fixed;
    margin-top: -13px;
    padding: 2px;
    padding-top: 12px;
    z-index: 5555;
    background: $fragmet-color;
    cursor: pointer;
    transition: .2s color ease-in;
    &:hover {
        background: lighten($fragmet-color,50%);
    }
}

// percentage((100 - ( $akara-control-padding-left + $akara-control-padding-right) ) / 100)

$cur-pad-top: 1;
@for $i from 1 through 11 {
    .volume-incr:nth-of-type(#{$i}) {
        @if $i == 1 {
            margin-left: -5px;
        }
        padding-top: $cur-pad-top + px;
        $cur-pad-top: $cur-pad-top + 3;
    }
}

[data-volume-set="true"] {
    background: #fff;
}

[data-sub-on=false] {
    background: white;
    //cursor: not-allowed !important;
    box-shadow: 500px 500px 500px 500px white inset !important;
}

// emacs M+x comment-or-uncomment-region === sh*t
/* [data-anim] { */
/*     animation-name: fullScreenVideo; */
/*     animation-duration: .1s; */
/*     animation-timing-function: ease-in; */
/*     animation-fill-mode: forwards; */
/* } */

[data-fullscreenwidth] {
    
    height: 130px;
    width: 70%;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
