
.download-body {
    @extend %new_window_body;
}

.akara-download-header {
    @extend %new_window_headers;
}

.download {
    
    font-size: 18px;
    color: white;
    
    .akara-download-filename {
        width: 100%;
        text-align: center;
        margin-top: 20px;

        font-size: 15px;
    }

    .akara-total-byte {
        width: 100%;
        background-color: white;
        margin-top: 20px;
        padding: 3px;
        .akara-download-meter {
            width: 0%;
            background-color: lighten($global-color,20%);
            display: none;
        }
        .akara-unknown-download-meter {
            //display: none;
            width: 12%;
            background-color: darken($global-color,30%);
        }
    }
    .akara-bytes {
        width: 100%;
        display: flex;
        justify-content: center;
        
        margin-top: 20px;
        
        .akara-currentByte::after {
            content: " /  ";
        }
    }

    .akara-download-state {
        text-align: center;
        font-size: 18px;

        margin-top: 12px;
    }

    .download-control-button {
        width: 100%;
        position: fixed;
        bottom: 0;
        button {
            width: 50%;
            font-size: 18px;
            border: 2px solid lighten(black,70%);
            cursor: pointer;
            padding: 10px;
            &:disabled {
                cursor: not-allowed;
            }
        }
    }
}

[data-unknown-byte="true"] {
    animation-name: unknownByte;
    animation-timing-function: ease-in;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;

    padding: 3px;
}
