$drop-down-width: 200px;
$drop-down-back-color: white;
$drop-down-color: black;
$drop-down-pos: absolute;

$drop-down-top-pos: 204;
$drop-down-left-pos: 200;

%loaded_media_hover_li {
    background: darken($global-color, 5%);
}

%hovered_menu_item_unhide {

    position: $drop-down-pos;
    left: $drop-down-left-pos + px;
    top: $drop-down-top-pos + px;

    width: $drop-down-width;

    background: $drop-down-back-color;
    color: $drop-down-color;
}

%move_droped_span {
    > li {
        display: block;
        width: inherit;
        > span {
            margin-left: 10px;
        }
    }
}

%submenu_default_li_width {
    > li {
        width: 180px !important;
    }
}

%new_window_headers {
    $font-size: 25px;

    width: 100%;
    padding: 12px;
    border-bottom: 1px solid white;

    -webkit-app-region: drag;

    span:first-of-type {
        font-size: $font-size;
    }

    span:last-of-type {

        float: right;
        cursor: pointer;

        margin-right: 15px;

        font-size: $font-size;

        -webkit-app-region: no-drag;

        &:hover {
            color: red;
        }
    }
}

%new_window_body {
    overflow: hidden;
    background: $global-color;
    color: white;
}

%forms {
    font-size: 15px;
    padding: 15px 15px 25px 15px;
}

%form-input {
    $input-padding: 12;
    $margin-top: 10;
    display: block;
    margin-top: 10 + px;
    width: 100 - $input-padding + %;

    padding: $input-padding + px;
    color: black;
    font-size: 15px;
    border: 2px solid lighten(black,50%);
}

%buttons {
    border: none;
    padding: 15px;
    font-size: 1.1em;
    cursor: pointer;
    transition: .2s background ease-in, .2s color ease-in;

    position: fixed;
    bottom: 0;
    right: 0;
    &:hover {
        background: darken(lightgrey, 70%);
        color: white;
    }    
}
