$drop-down-width: 200px;
$drop-down-back-color: white;
$drop-down-color: black;
$drop-down-pos: absolute;

%loaded_media_hover_li {
    background: darken($global-color, 5%);
}

%hovered_menu_item_unhide {
    position: $drop-down-pos;
    left: 200px;
    top: 204px;

    width: $drop-down-width;

    background: $drop-down-back-color;
    color: $drop-down-color;    
}

%move_droped_span {
    
    > li {
        > span {
            margin-left: 10px;
        }
    }
}