$drop-down-width: 200px;
$drop-down-back-color: white;
$drop-down-color: black;
$drop-down-pos: absolute;

$drop-down-top-pos: 204;
$drop-down-left-pos: 200;

%loaded_media_hover_li {
    background: darken($global-color, 5%);
}

%hovered_menu_item_unhide {

    position: $drop-down-pos;
    left: $drop-down-left-pos + px;
    top: $drop-down-top-pos + px;

    width: $drop-down-width;

    background: $drop-down-back-color;
    color: $drop-down-color;
}

%move_droped_span {
    > li {
        display: block;
        width: inherit;
        > span {
            margin-left: 10px;
        }
    }
}

%submenu_default_li_width {
    > li {
        width: 180px !important;
    }
}

%new_window_headers {
    $font-size: 25px;

    width: 100%;
    padding: 12px;
    border-bottom: 1px solid white;

    -webkit-app-region: drag;

    span:first-of-type {
        font-size: $font-size;
    }

    span:last-of-type {

        float: right;
        cursor: pointer;

        margin-right: 15px;

        font-size: $font-size;

        -webkit-app-region: no-drag;

        &:hover {
            color: red;
        }
    }
}

%new_window_body {
    overflow: hidden;
    background: $global-color;
    color: white;
}

%forms {
    font-size: 15px;
    padding: 15px 15px 25px 15px;
}

%form-input {
    $input-padding: 12;
    $margin-top: 10;
    display: block;
    margin-top: 10 + px;
    width: 100 - $input-padding + %;

    padding: $input-padding + px;
    color: black;
    font-size: 15px;
    border: 2px solid lighten(black,50%);
}

%buttons {

    width: 15%;
    margin: 50px 10px 10px 10px;
    float: right;
    
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: .2s background ease-in, .2s color ease-in;
    
    border: none;
    
    border-radius: 50px;
    
    &:hover {
        background: darken(lightgrey, 70%);
        color: white;
    }
}

%center-absolute {
    width: 40%;
    height: 20%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 50px 100px 100px 100px;
}

%modal-textarea {
    display: block;

    width: 100%;
    height:80px;
    resize: none;

    border-radius: 4px;
}

%modal-buttons {
    width: 100%;
    border: none;
    padding: 7px;
    margin: 10px;
    cursor: pointer;
    transition: .2s ease-in;
    font-size: .9em;
}


%cover-view {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background: lighten($global-color,30%);
    opacity: .75;
}

%window-headers {
    height: 20px;
    width: 100%;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    -webkit-app-region: drag;

    .window-title {
        color: white;
        float: left;

        position: fixed;
        left: 20px;

        width: 30%;

        white-space: nowrap;
        overflow: hidden;

        text-overflow: ellipsis;

        font: {
            size: 1.5em;
        }
        padding-top: 12px;
        padding-left: 12px;
    }

    .window-state-buttons {
        float: right;
        margin-right: 15px;
        .window-buttons {
            -webkit-app-region: no-drag;
            li {
                margin-left: 15px;
                cursor: pointer;
                color: white;
            }

            .window-close {
                transition: .2s color ease-in-out;
                &:hover {
                    color: red;
                }
            }
        }
    }    
}
