@keyframes height-anim {
    0% {
        max-height: 10px;
    }

    100% {
        max-height: 630px;
    }
}

@keyframes dropdown-anim {
    0% {
        margin-top: 10px;
        visibility: visible;
    }

    20% {
        margin-top: 11px;
    }

    40% {
        margin-top: 12px;
    }
    80% {
        margin-top: 13px;
    }
    100% {
        margin-top: 15px;
        visibility: visible;
    }
}

@keyframes unknownByte {
    0% {
        margin-left: 10%;
    }
    10% {
        margin-left: 20%;
    }
    20% {
        margin-left: 30%;
    }
    30% {
        margin-left: 40%;
    }
    40% {
        margin-left: 50%;
    }
    50% {
        margin-left: 60%;
    }
    60% {
        margin-left: 70%;
    }
    70% {
        margin-left: 80%;
    }
    100% {
        margin-left: 90%;
    }
    
}

@keyframes moveToolTip {
    0% {
        margin-top: 0px;
    }
    10% {
        margin-top: 2px;
    }
    20% {
        margin-top: 3px;
    }
    30% {
        margin-top: 4px;
    }
    to {
        margin-top: 5px;
    }
}

@keyframes fullScreenVideo {
    from {
        height: 100px;
        width: 80%;
    }
    to {
        height: 90px;
        width: 50%;
    }
}

@keyframes viewanimation {
    from {
        opacity: .3;
    }
    to {
        opacity: .80;
    }
}
