.podcast-body {
    @extend %new_window_body;
}

.podcast-header {
    @extend %window-headers;
}

.podcast {

    padding: 15px;

    .podcast-view-list {
        width: 40%;
        float: left;
        display: flex;
        justify-content: flex-start;
        span {
            margin: 5px;
        }
    }

    .podcast-operation-item {
        width: 50%;
        float: right;
        display: flex;
        justify-content: flex-end;
        margin-right: 3%;
        span {
            margin: 5px;
        }
    }


    i {
        cursor: pointer;
        font-size: 20px;
        &:hover {
            color: lighten($global-color, 60%);
        }
    }


}

%podcastload-main[data-view="list"] {

    .podcastload-main {

        clear: both;
        color: white;

        margin-top: 50px;

        width: 97%;
        height: 737px;

        overflow-y: auto;
        overflow-x: hidden;

        box-shadow: 0px 1px 6px 0px darken(lighten($global-color, 50%), 55%);

        .nopoadcast {
            background: none;
            line-height: 2;
            font-size: 30px;
            margin-top: 10px;
            text-align: center;
        }

        > li {

            margin-top: 15px;
            width: 100%;


            background: lighten($global-color,10%);
            box-shadow: 1px 1px 5px 0px  darken(lighten($global-color, 50%), 55%);

            font-size: 15px;

            padding: 25px;

            cursor: pointer;

            transition: .2s background ease-in-out;

            &:hover {
                background: darken($global-color, 10%);
            }

            .podcaster-podcast-name {
                float: left;
                margin-top: -0.5%;
            }

            .podcast-image {
                display: none;
            }

            .podcast-name-widgets {

                width: 30%;
                float: right;

                margin-right: -15%;

                > li {
                    display: inline;
                    padding: 7px;
                    cursor: pointer;

                    transition: .2s background ease-in-out;

                    &:hover {
                        color: lighten($global-color, 10%);
                    }
                }

            }

        }
    }
}


.podcastload-podcaster {
    display: none;
    height: 737px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 97%;
    box-shadow: 0px 1px 6px 0px darken(lighten($global-color, 50%), 55%);
    margin-left: 1px;
}


%podcastload-podcaster[data-view="list"] {
    .podcastload-podcaster {
        .podcaster-podcast {

            padding: 5px;
            //padding-bottom: 20px;
            padding-left: 0;
            padding-bottom: 1px;

            > li {

                //display: flex;
                clear: both;
                width: 99%;

                margin-left: 8px;

                background: $global-color;
                box-shadow: 0px 1px 9px 0px rgba(238, 238, 238, 0.14);
                margin-top: 5px;
                cursor: pointer;
                color: white;

                padding-top: 16px;
                padding-bottom: 30px;

                .podcast-title {
                    float: left;
                    font: {
                        weight: 400;
                        size: 1em;
                    }
                    text-overflow: ellipsis;
                    margin-left: 13px;
                }
                .podcast-image {
                    display: none;
                }
                .podaudio-widget {

                    display: inline-flex;
                    justify-content: flex-end;

                    float: right;
                    width: 50%;

                    margin-right: 12px;

                    i:not(:first-of-type) {
                        margin-left: 5px;
                    }
                }

            }

            > li:last-of-type {
                margin-bottom: 100px;
            }
        }
    }
}


%grid-li {
    display: inline-flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: 20px;
}

%grid-title {
    display: flex;
    clear: left;
    height: 12px;
    width: 100%;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
}

%grid-image {
    display: block;
    height: 100px;
    margin: auto;
    margin-left: -150px;
}

%grid-widgets {
    clear: right;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    position: relative;
    left: -100px;
}

%podcastload-main[data-view="grid"] {
    .podcastload-main {
        margin-top: 23px;
        width: 91%;
        padding-left: 80px;
        > li {
            @extend %grid-li;
            .podcaster-podcast-name {
                @extend %grid-title;
            }

            .podcast-image {
                @extend %grid-image;
            }

            .podcast-name-widgets {
                @extend %grid-widgets;
            }
        }

    }
}

%podcastload-podcaster[data-view="grid"] {
    .podcastload-podcaster {
        .podcaster-podcast {
            padding-left: 80px;
            > li {
                @extend %grid-li;
                .podcast-title {
                    @extend %grid-title;
                    text-overflow: ellipsis;
                }
                .podcast-image {
                    @extend %grid-image;
                    position: relative;
                    left: 35px;
                }
                .podaudio-widget {
                    @extend %grid-widgets;
                    left: -52px;
                }
            }
        }
    }
}

[data-view="list"] {
    @extend %podcastload-main[data-view="list"];
    @extend %podcastload-podcaster[data-view="list"];
}

[data-view="grid"] {
    @extend %podcastload-main[data-view="list"];
    @extend %podcastload-main[data-view="grid"];
    @extend %podcastload-podcaster[data-view="list"];
    @extend %podcastload-podcaster[data-view="grid"];
}

[data-view-anim="animation"] {
    animation-name: viewanimation;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}


.podcast-modal {

    @extend %center-absolute;

    border: 2px solid $global-color;
    border-radius: 5px;
    background: $global-color;

    height: 200px;

    .podcast-modal-parent {

        width: 100%;

        .podcast-modal-info {
            margin-bottom: 10px;
            width: 100%;

            word-break: break-word;

            line-height: 1.2;
            font-size: 15px;
        }

        .podcast-modal-addpodcastarea {
            @extend %modal-textarea;
        }

        .podcast-modal-btn {

            display: flex;
            justify-content: flex-end;
            margin-right: 3px;
            button {
                @extend %modal-buttons;
                &:hover {
                    background-color: lighten(black, 50%);
                }
            }
            .podcast-modal-cancel {
                margin-right: -2%;
            }
        }
    }
}

.cover-view {
    @extend %cover-view;
}

.podcast-view {

    padding: 15px;
    font-size: 20px;

    //border: 2px solid red;

    display: flex;
    justify-content: center;


    span {
        margin: 5px;
        i {
            cursor: pointer;
            text-decoration: underline;
            text-decoration-color: lighten($global-color, 40%);
            text-underline-position: top;
            &:hover {
                color: lighten($global-color, 55%);
            }
        }
    }

}


.podcast-spinner {
    height: 100%;
    text-align: center;

    i {
        font-size: 90px;
    }
}


.podcast-spin-saving {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: .7;
    .podcast-spinning-save {
        margin-left: 45%;
        margin-top: 14%;
    }
    .podcast-spin-log {
        text-align: center;
        margin-top: 5%;
    }
}
