.podcast-body {
    @extend %new_window_body;
}

.podcast-header {
    @extend %new_window_headers;
}

.podcast-left {

    width: 150px;
    float: left;
    background: $global-color;
    height: 100vh;
    overflow-y: auto;
    box-shadow: 0.9px 0px 10px 0.8px darken(darkgrey,20%);

    ul {
        
        li {
            margin-top: 10%;
            padding: 15px;
            color: white;

            box-shadow: 0px 1px 9px 0px rgba(238, 238, 238, 0.14);
        }
        
        li:not(.podcastload) {
            cursor: pointer;
            &:hover {
                //background: darkgrey;
                text-decoration: underline;
            }
        }
        
        p {
            background-color: darkgrey;
            padding: 10px 0;
            text-align: center;
            width: 100%;
        }
        .podcastload {
            padding: 0;
            p {
                padding: 12px 0px 12px 0px;
                margin: 25px auto;
            }
        }
    }
}

.podcastload {
    color: white;
    
    .nopoadcast {
        background: none;
        line-height: 2;
        font-size: 13px;
        margin-top: 50px;
    }
    ul {
        li {
            margin-top: 0;
            cursor: pointer;
            width: 80%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        li:first-of-type {
            margin-top: 10px;
        }
    }
}

.podcast-modal {
    
    @extend %center-absolute;
    
    border: 2px solid $global-color;
    border-radius: 5px;
    background: $global-color;

    .podcast-modal-parent {
        
        width: 100%;
        
        .podcast-modal-info {
            margin-bottom: 10px;
            width: 100%;

            word-break: break-word;

            line-height: 1.2;
            font-size: 10px;
        }
        
        .podcast-modal-addpodcastarea {
            @extend %modal-textarea;
        }

        .podcast-modal-btn {
            
            display: flex;
            justify-content: flex-end;
            
            button {
                @extend %modal-buttons;
                &:hover {
                    background-color: lighten(lightgrey, 10%);
                }
            }
            .podcast-modal-cancel {
                margin-right: -2%;
            }
        }
    }
}


.podcast-right {
    
    color: white;
    
    width: 650px;
    float: right;
    height: 100vh;
    
    overflow-y: auto;

    padding-top: 5px;
    
}

.cover-view {
    @extend %cover-view;
}

.podcaster-podcast {

    padding: 5px;


    padding-bottom: 20px;
    .podcast-audio {
        padding: 10px;
        background: $global-color;
        box-shadow: 0px 1px 9px 0px rgba(238, 238, 238, 0.14);
        margin-top: 5px;
        cursor: pointer;
        color: white;
        
        font: {
            weight: 400;
            size: 1em;
        }

        text-overflow: ellipsis;
    }
}


.podcast-spinner {
    height: 100%;
    text-align: center;
    i {
        margin-top: 20%;
    }
    p {
        font-size: 3em;
        opacity: .13;

        margin-top: 5%;
    }
}

.podaudio-widget {
    float: right;
    width: 10%;
    i:not(:first-of-type) {
        margin-left: 5px;
    }
}
