
.subtitle-body {
    @extend %new_window_body;
}

.akara-subtitle-header {
    @extend %new_window_headers;
}


section {
    width: 100%;
    height: 100%;
    color: white;
    .subtitle-form {
        @extend %forms;
        border-bottom: 4px solid white;
    }
}

.subtitle-form-input {
    @extend %form-input;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 1px 6px 0px darken(lighten($global-color, 50%), 55%);
    background: $global-color;
    color: white;
}

label[for="series"] {
    margin-left: 12px;
}

label {
    color: white;
}
input[type="checkbox"] {
    display: inline;
    width: initial;
}
input[id="season"],
input[id="episode"] {
    display: inline;
    width: 3%;
    margin-left: 12px;
    padding: 5px;
}

label[for="season"],
label[for="episode"] {
    margin-left: 15px;
}
button[type="search"] {
    @extend %buttons;
    
    position: static;
    float: right;
    padding: 12px;
    margin-top: 10px;
    margin-right: 64px;
}

.subtitle-loaded {
    width: 100%;
    display: flex;
    overflow-y: auto;
    padding-bottom: 12px;
    .subtitle-info {
        color: white;
        font-size: 30px;
        margin: auto;
        margin-top: 150px;
    }
}


table {
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
    td {
        border: 1px solid gray;
        padding: 12px;
        color: white;
    }
    td:last-of-type {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    .download {
        cursor: pointer;
        transition: .2s all ease-in;
        i {
            margin-left: 13px;
            color: white;
        }
        &:hover {
            background: #333333;
            color: lighten($global-color,40%);
        }

    }

    th {
        border: 1px solid #666666;
        padding: 8px;
        box-shadow: 100px 100px 100px #666666 inset;
        font-weight: bolder;
        &:first-letter {
            text-transform: uppercase;
        }
    }
}
input[type="text"]:disabled {
    cursor: not-allowed;
}
