::-webkit-scrollbar {
    width: 7px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background: $global-color;
    
}
::-webkit-scrollbar-thumb {
    background-color: $global-color;
    border-radius: 50%;
}

::-webkit-scrollbar-button {
    background-color: darken(#fff,60%);
}

video::-webkit-media-controls {
    display: none;
}