@import "reset.scss";

$global-color: #4b4b4b;

body {
    background: darken($global-color,20%);
    overflow: hidden;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;

    height: 100vh;

    font-family: monospace;
}


@import "extend.scss";

@import "subtitle.scss";
@import "download.scss";
@import "mediainfo.scss";
@import "playlist.scss";

@import "search.scss";

@import "search.scss";

@import "search.scss";

@import "akara_dropdown";
@import "akara_title_bar";
@import "akara_load_section";
@import "akara_control";
@import "webkitscroll";