*:focus {
  outline: none; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a {
  text-decoration: none;
  color: black; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #181818;
  overflow: hidden;
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  height: 100vh;
  font-family: monospace; }

.subtitle-body {
  background: white;
  overflow: hidden; }

.akara-subtitle-header {
  padding: 10px;
  -webkit-app-region: drag;
  font-size: 20px;
  border-bottom: 2px solid black; }
  .akara-subtitle-header .subtitle-close {
    float: right;
    -webkit-app-region: no-drag;
    cursor: pointer; }
    .akara-subtitle-header .subtitle-close:hover {
      color: red; }

section {
  width: 100%;
  height: 100%;
  color: white; }
  section form {
    font-size: 15px;
    padding: 15px 15px 25px 15px;
    border-bottom: 4px solid black; }

input {
  display: block;
  margin-top: 10px;
  width: 88%;
  padding: 12px;
  color: black;
  font-size: 15px;
  border: 2px solid gray; }

label[for="series"] {
  margin-left: 12px; }

label {
  color: #4b4b4b; }

input[type="checkbox"] {
  display: inline;
  width: initial; }

input[id="season"],
input[id="episode"] {
  display: inline;
  width: 3%;
  margin-left: 12px;
  padding: 5px; }

label[for="season"],
label[for="episode"] {
  margin-left: 15px; }

button[type="search"] {
  float: right;
  margin-top: 12px;
  border: none;
  padding: 12px;
  cursor: pointer;
  transition: .2s all ease-in-out; }
  button[type="search"]:hover {
    background: black;
    color: white; }

.subtitle-loaded {
  width: 100%;
  display: flex; }
  .subtitle-loaded .subtitle-info {
    color: black;
    font-size: 30px;
    margin: auto;
    margin-top: 150px; }

table td {
  border: 1px solid gray;
  padding: 12px;
  color: #4b4b4b; }

table .download {
  cursor: pointer;
  transition: .2s all ease-in; }
  table .download i {
    margin: auto; }
  table .download:hover {
    background: #333333;
    color: white; }

table th {
  border: 1px solid #666666;
  padding: 8px;
  box-shadow: 100px 100px 100px #666666 inset;
  font-weight: bolder; }
  table th:first-letter {
    text-transform: uppercase; }

.download-body {
  overflow: none;
  background: white; }

.akara-download-header {
  width: 100%;
  padding: 12px;
  border-bottom: 1px solid black;
  -webkit-app-region: drag; }
  .akara-download-header span:first-of-type {
    font-size: 25px; }
  .akara-download-header span:last-of-type {
    float: right;
    cursor: pointer;
    margin-right: 15px;
    font-size: 25px;
    -webkit-app-region: no-drag; }
    .akara-download-header span:last-of-type:hover {
      color: red; }

.download {
  font-size: 18px;
  color: #4b4b4b; }
  .download .akara-download-filename {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 15px; }
  .download .akara-total-byte {
    width: 100%;
    background-color: darkgrey;
    margin-top: 20px;
    padding: 3px; }
    .download .akara-total-byte .akara-download-meter {
      width: 0%;
      background-color: black; }
  .download .akara-bytes {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px; }
    .download .akara-bytes .akara-currentByte::after {
      content: " /  "; }
  .download .akara-download-state {
    text-align: center;
    font-size: 18px;
    margin-top: 12px; }
  .download .download-control-button {
    width: 100%;
    position: fixed;
    bottom: 0; }
    .download .download-control-button button {
      width: 50%;
      font-size: 18px;
      border: 2px solid #b3b3b3;
      cursor: pointer;
      padding: 10px; }
      .download .download-control-button button:disabled {
        cursor: not-allowed; }

.akara-media .akara-load .akara-loaded > li:hover, [data-clicked="true"] {
  background: #3e3e3e; }

.akara-media-element,
.akara-add-media,
.akara-subtitle,
.akara-internet-media, .akara-dropdown {
  position: absolute;
  left: 200px;
  top: 204px;
  width: 200px;
  background: white;
  color: black; }

.akara-media-element > li,
.akara-add-media > li,
.akara-subtitle > li,
.akara-internet-media > li, .akara-dropdown ul > li {
  display: block;
  width: inherit; }
  .akara-media-element > li > span,
  .akara-add-media > li > span,
  .akara-subtitle > li > span,
  .akara-internet-media > li > span, .akara-dropdown ul > li > span {
    margin-left: 10px; }

.akara-media-element > li,
.akara-add-media > li,
.akara-subtitle > li,
.akara-internet-media > li {
  width: 180px !important; }

.akara-add-media {
  top: 0; }

.akara-subtitle {
  top: 255px; }

.akara-internet-media {
  top: 306px; }

.akara-dropdown {
  text-align: left;
  height: 0;
  left: 10px;
  top: 30px;
  border: 1px solid white;
  font-size: 20px;
  position: absolute; }
  .akara-dropdown ul li {
    visibility: hidden;
    font-size: 1rem;
    padding: 10px;
    transition: .3s; }
    .akara-dropdown ul li:hover {
      background-color: darkgrey; }
  .akara-dropdown ul li:nth-of-type(1) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(2) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(3) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(4) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(5) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(6) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(7) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(8) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(9) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(10) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(11) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(12) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(13) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(14) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(15) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }

[data-anim-height="anim-height"] {
  animation-name: height-anim;
  animation-timing-function: ease-in;
  animation-duration: .285s;
  animation-direction: normal;
  animation-fill-mode: forwards; }

@keyframes height-anim {
  0% {
    height: 10px; }
  100% {
    height: 630px; } }

@keyframes dropdown-anim {
  0% {
    margin-top: 10px;
    visibility: visible; }
  20% {
    margin-top: 11px; }
  40% {
    margin-top: 12px; }
  80% {
    margin-top: 13px; }
  100% {
    margin-top: 15px;
    visibility: visible; } }

.akara-title-bar {
  height: 50px;
  border-bottom: 2px solid white;
  -webkit-app-region: drag; }
  .akara-title-bar .akara-menu-toggle {
    color: black;
    float: left;
    font-size: 20px;
    margin: 5px auto auto 20px;
    background-color: white;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 2px gray;
    padding: 5px 13px;
    -webkit-app-region: no-drag; }
  .akara-title-bar .akara-title {
    color: white;
    float: left;
    position: fixed;
    left: 50px;
    font-size: 1.5em;
    padding-top: 12px;
    padding-left: 12px; }
  .akara-title-bar .akara-window-state {
    float: right;
    -webkit-app-region: no-drag;
    position: fixed;
    right: 0; }
    .akara-title-bar .akara-window-state > ul {
      margin-top: 7px; }
      .akara-title-bar .akara-window-state > ul > li {
        display: inline;
        color: white;
        padding: 5px;
        margin-left: 20px;
        border-radius: 50%;
        cursor: pointer; }
      .akara-title-bar .akara-window-state > ul > li:last-of-type {
        transition: .3s color; }
        .akara-title-bar .akara-window-state > ul > li:last-of-type:hover {
          color: darkred; }

.akara-media {
  clear: both;
  width: 100%;
  height: 100%;
  color: #cccccc; }
  .akara-media .akara-media-cover {
    float: right;
    width: 80%;
    height: 80%; }
    .akara-media .akara-media-cover video {
      width: 100% !important;
      height: 100% !important; }
  .akara-media .akara-load {
    float: left;
    width: 20%;
    margin-right: -8px;
    height: inherit;
    background: #252525; }
    .akara-media .akara-load .akara-loaded-dragger {
      height: inherit;
      cursor: ew-resize;
      float: right;
      border: 2px solid #1a1a1a;
      resize: both; }
    .akara-media .akara-load .akara-loaded {
      overflow-y: auto;
      height: inherit;
      margin-top: 20px;
      margin-right: 6px; }
      .akara-media .akara-load .akara-loaded > li {
        padding: 5px;
        width: inherit;
        cursor: pointer;
        font-size: 1.2em;
        font-family: DejaVau;
        margin-top: 4px;
        white-space: nowrap;
        transition: .2s ease-in-out; }
      .akara-media .akara-load .akara-loaded li:last-of-type {
        margin-bottom: 70px; }

[data-clicked="true"] {
  width: 100% !important; }

[data-dbclicked="true"] span {
  margin-left: 12px; }

.akara-control, .cover-on-error-src {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background: #181818; }

.cover-on-error-src {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background: #4b4b4b;
  opacity: .75; }

.akara-time {
  width: 100%; }
  .akara-time .akara-time-length {
    background: darkgrey;
    height: 12px;
    cursor: pointer;
    width: inherit; }
    .akara-time .akara-time-length .akara-time-current {
      width: 0;
      background: #323232;
      height: inherit; }

.akara-media-control-left {
  float: left; }

.akara-media-control-right {
  float: right; }

.akara-media-control-left,
.akara-media-control-right {
  width: percent(50 40); }
  .akara-media-control-left li.akara-volume,
  .akara-media-control-right li.akara-volume {
    display: inline-block; }
  .akara-media-control-left li.fa,
  .akara-media-control-right li.fa {
    cursor: pointer;
    margin: 10px;
    cursor: pointer;
    border-width: 12px;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 5px 5px 20px #000 inset;
    transition: .2s box-shadow ease-in-out; }
    .akara-media-control-left li.fa:hover,
    .akara-media-control-right li.fa:hover {
      box-shadow: 5px 5px 20px #262626 inset; }

.akara-update-cur-time {
  display: block;
  margin: 15px auto auto 20px; }

.akara-display {
  display: none !important; }

[data-hover="true"] {
  position: absolute;
  border-radius: 10%;
  background: #4b4b4b;
  padding: 3px; }
  [data-hover="true"] span {
    color: white; }

.volume-incr {
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  margin-left: 1px;
  padding: 1px;
  background: #333333;
  padding-right: 9px;
  cursor: pointer; }

.volume-incr:nth-of-type(1) {
  margin-left: -5px;
  padding-top: 1px; }

.volume-incr:nth-of-type(2) {
  padding-top: 4px; }

.volume-incr:nth-of-type(3) {
  padding-top: 7px; }

.volume-incr:nth-of-type(4) {
  padding-top: 10px; }

.volume-incr:nth-of-type(5) {
  padding-top: 13px; }

.volume-incr:nth-of-type(6) {
  padding-top: 16px; }

.volume-incr:nth-of-type(7) {
  padding-top: 19px; }

.volume-incr:nth-of-type(8) {
  padding-top: 22px; }

.volume-incr:nth-of-type(9) {
  padding-top: 25px; }

.volume-incr:nth-of-type(10) {
  padding-top: 28px; }

.volume-incr:nth-of-type(11) {
  padding-top: 31px; }

[data-volume-set="true"] {
  background: #fff; }

::-webkit-scrollbar {
  width: 7px;
  cursor: pointer; }

::-webkit-scrollbar-track {
  background: #4b4b4b; }

::-webkit-scrollbar-thumb {
  background-color: #4b4b4b;
  border-radius: 50%; }

::-webkit-scrollbar-button {
  background-color: #666666; }

/*# sourceMappingURL=maps/main.css.map */
