*:focus {
  outline: none; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a {
  text-decoration: none;
  color: black; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes height-anim {
  0% {
    max-height: 10px; }
  100% {
    max-height: 630px; } }

@keyframes dropdown-anim {
  0% {
    margin-top: 10px;
    visibility: visible; }
  20% {
    margin-top: 11px; }
  40% {
    margin-top: 12px; }
  80% {
    margin-top: 13px; }
  100% {
    margin-top: 15px;
    visibility: visible; } }

@keyframes unknownByte {
  0% {
    margin-left: 10%; }
  10% {
    margin-left: 20%; }
  20% {
    margin-left: 30%; }
  30% {
    margin-left: 40%; }
  40% {
    margin-left: 50%; }
  50% {
    margin-left: 60%; }
  60% {
    margin-left: 70%; }
  70% {
    margin-left: 80%; }
  100% {
    margin-left: 90%; } }

@keyframes moveToolTip {
  0% {
    margin-top: 0px; }
  10% {
    margin-top: 2px; }
  20% {
    margin-top: 3px; }
  30% {
    margin-top: 4px; }
  to {
    margin-top: 5px; } }

@keyframes fullScreenVideo {
  from {
    height: 100px;
    width: 80%; }
  to {
    height: 90px;
    width: 50%; } }

body {
  background: #181818;
  overflow: hidden;
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  height: 100vh;
  font-family: monospace; }

.tool-tip {
  background: black;
  color: white;
  opacity: .55;
  padding: 5px;
  font-size: 15px;
  width: 40%;
  font-weight: bolder;
  border-radius: 4px;
  text-align: center;
  animation-name: moveToolTip;
  animation-duration: .3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; }

[data-dynamic-style] {
  background: lightgrey; }

.akara-load .akara-loaded > li:hover, [data-clicked="true"] {
  background: #3e3e3e; }

.akara-media-element,
.akara-add-media,
.akara-subtitle,
.akara-internet-media,
.akara-playlist-option, .akara-dropdown {
  position: absolute;
  left: 200px;
  top: 204px;
  width: 200px;
  background: white;
  color: black; }

.akara-media-element > li,
.akara-add-media > li,
.akara-subtitle > li,
.akara-internet-media > li,
.akara-playlist-option > li, .akara-dropdown ul > li {
  display: block;
  width: inherit; }
  .akara-media-element > li > span,
  .akara-add-media > li > span,
  .akara-subtitle > li > span,
  .akara-internet-media > li > span,
  .akara-playlist-option > li > span, .akara-dropdown ul > li > span {
    margin-left: 10px; }

.akara-media-element > li,
.akara-add-media > li,
.akara-subtitle > li,
.akara-internet-media > li,
.akara-playlist-option > li {
  width: 180px !important; }

.akara-subtitle-header, .akara-download-header, .akara-media-info, .playlist-header, .loadplaylist-header, .addplaylist-header, .removeplaylist-header, .akara-inputpin-header, .podcast-header {
  width: 100%;
  padding: 12px;
  border-bottom: 1px solid white;
  -webkit-app-region: drag; }
  .akara-subtitle-header span:first-of-type, .akara-download-header span:first-of-type, .akara-media-info span:first-of-type, .playlist-header span:first-of-type, .loadplaylist-header span:first-of-type, .addplaylist-header span:first-of-type, .removeplaylist-header span:first-of-type, .akara-inputpin-header span:first-of-type, .podcast-header span:first-of-type {
    font-size: 25px; }
  .akara-subtitle-header span:last-of-type, .akara-download-header span:last-of-type, .akara-media-info span:last-of-type, .playlist-header span:last-of-type, .loadplaylist-header span:last-of-type, .addplaylist-header span:last-of-type, .removeplaylist-header span:last-of-type, .akara-inputpin-header span:last-of-type, .podcast-header span:last-of-type {
    float: right;
    cursor: pointer;
    margin-right: 15px;
    font-size: 25px;
    -webkit-app-region: no-drag; }
    .akara-subtitle-header span:last-of-type:hover, .akara-download-header span:last-of-type:hover, .akara-media-info span:last-of-type:hover, .playlist-header span:last-of-type:hover, .loadplaylist-header span:last-of-type:hover, .addplaylist-header span:last-of-type:hover, .removeplaylist-header span:last-of-type:hover, .akara-inputpin-header span:last-of-type:hover, .podcast-header span:last-of-type:hover {
      color: red; }

.subtitle-body, .download-body, .media-info, .create-playlist-body, .load-playlist-body, .addplaylist-body, .remove-playlist-body, .inputpin-body, .podcast-body {
  overflow: hidden;
  background: #4b4b4b;
  color: white; }

section .subtitle-form, .create-playlist .create-playlist-form {
  font-size: 15px;
  padding: 15px 15px 25px 15px; }

.subtitle-form-input, .create-playlist-input, .addplaylist input, .inputpin-input {
  display: block;
  margin-top: 10px;
  width: 88%;
  padding: 12px;
  color: black;
  font-size: 15px;
  border: 2px solid gray; }

button[type="search"], .submit-cancel-button button, .loadplaylist-load, .removeplaylist-load, .inputpin-pin {
  border: none;
  padding: 15px;
  font-size: 1.1em;
  cursor: pointer;
  transition: .2s background ease-in, .2s color ease-in;
  position: fixed;
  bottom: 0;
  right: 0; }
  button[type="search"]:hover, .submit-cancel-button button:hover, .loadplaylist-load:hover, .removeplaylist-load:hover, .inputpin-pin:hover {
    background: #212121;
    color: white; }

.podcast-modal, .youtubeupload {
  width: 40%;
  height: 20%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 50px 100px 100px 100px; }

.podcast-modal .podcast-modal-parent .podcast-modal-addpodcastarea, .youtubeupload textarea {
  display: block;
  width: 100%;
  height: 80px;
  resize: none;
  border-radius: 4px; }

.podcast-modal .podcast-modal-parent .podcast-modal-btn button, .youtubeupload .youtubeupload-btn button {
  width: 100%;
  border: none;
  padding: 7px;
  margin: 10px;
  cursor: pointer;
  transition: .2s ease-in;
  font-size: .9em; }

.cover-view, .youtubeupload-cover {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #989898;
  opacity: .75; }

section {
  width: 100%;
  height: 100%;
  color: white; }
  section .subtitle-form {
    border-bottom: 4px solid white; }

label[for="series"] {
  margin-left: 12px; }

label {
  color: white; }

input[type="checkbox"] {
  display: inline;
  width: initial; }

input[id="season"],
input[id="episode"] {
  display: inline;
  width: 3%;
  margin-left: 12px;
  padding: 5px; }

label[for="season"],
label[for="episode"] {
  margin-left: 15px; }

button[type="search"] {
  position: static;
  float: right;
  padding: 12px;
  margin-top: 10px;
  margin-right: 64px; }

.subtitle-loaded {
  width: 100%;
  display: flex;
  overflow-y: auto;
  padding-bottom: 12px; }
  .subtitle-loaded .subtitle-info {
    color: white;
    font-size: 30px;
    margin: auto;
    margin-top: 150px; }

table {
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word; }
  table td {
    border: 1px solid gray;
    padding: 12px;
    color: white; }
  table td:last-of-type {
    cursor: pointer; }
    table td:last-of-type:hover {
      text-decoration: underline; }
  table .download {
    cursor: pointer;
    transition: .2s all ease-in; }
    table .download i {
      margin-left: 13px;
      color: white; }
    table .download:hover {
      background: #333333;
      color: #b1b1b1; }
  table th {
    border: 1px solid #666666;
    padding: 8px;
    box-shadow: 100px 100px 100px #666666 inset;
    font-weight: bolder; }
    table th:first-letter {
      text-transform: uppercase; }

.download {
  font-size: 18px;
  color: white; }
  .download .akara-download-filename {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 15px; }
  .download .akara-total-byte {
    width: 100%;
    background-color: white;
    margin-top: 20px;
    padding: 3px; }
    .download .akara-total-byte .akara-download-meter {
      width: 0%;
      background-color: #7e7e7e;
      display: none; }
    .download .akara-total-byte .akara-unknown-download-meter {
      width: 12%;
      background-color: black; }
  .download .akara-bytes {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px; }
    .download .akara-bytes .akara-currentByte::after {
      content: " /  "; }
  .download .akara-download-state {
    text-align: center;
    font-size: 18px;
    margin-top: 12px; }
  .download .download-control-button {
    width: 100%;
    position: fixed;
    bottom: 0; }
    .download .download-control-button button {
      width: 50%;
      font-size: 18px;
      border: 2px solid #b3b3b3;
      cursor: pointer;
      padding: 10px; }
      .download .download-control-button button:disabled {
        cursor: not-allowed; }

[data-unknown-byte="true"] {
  animation-name: unknownByte;
  animation-timing-function: ease-in;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  padding: 3px; }

.akara-info {
  width: 100%;
  overflow-y: auto; }
  .akara-info div {
    color: black;
    width: 100%; }
    .akara-info div ul {
      padding-top: 20px;
      margin-left: 12px; }
      .akara-info div ul li {
        margin-top: 20px;
        font-size: 15px;
        border-bottom: 2px solid black;
        padding-bottom: 12px; }
        .akara-info div ul li span:first-of-type:after {
          content: ":"; }
        .akara-info div ul li span:first-of-type {
          border: 1px solid white;
          padding: 7px;
          background-color: #cbcbcb; }
        .akara-info div ul li span:last-of-type {
          margin-left: 30px; }

.media-has-deep {
  margin-left: 0 !important; }

.akara-media-deep {
  margin-left: 30px; }

.akara-playlist {
  border-bottom: 3px solid black;
  font-family: tahoma;
  height: 15px;
  padding: 5px; }
  .akara-playlist .playlist-indicator {
    float: left; }
    .akara-playlist .playlist-indicator .playlist-name {
      color: white;
      margin-left: 3px; }
  .akara-playlist .playlist-widget {
    float: right;
    cursor: pointer;
    height: 0; }
    .akara-playlist .playlist-widget .playlist-widget-item {
      margin-left: 15px;
      transition: .5s background ease-in; }
    .akara-playlist .playlist-widget .playlist-widget-item:hover {
      color: #4d4d4d; }

.create-playlist-input {
  width: 95%; }

.media-playlist-container {
  width: 100%;
  margin-top: 20px;
  /**
     *
     *
     * This contains the list of videos to add as playlist
     *
     **/
  /**
     *
     * This contains existing playlist name
     *
     **/ }
  .media-playlist-container .add-playlist {
    border: 0.2px solid #8c8c8c;
    float: left;
    overflow-y: auto;
    max-height: 650px;
    width: 40%;
    margin-bottom: 20px; }
  .media-playlist-container .add-to-existing-playlist {
    border: 0.2px solid #8c8c8c;
    float: right;
    overflow-y: auto;
    max-height: 500px;
    width: 40%;
    margin-right: 3%; }

.submit-cancel-button {
  clear: both;
  float: right;
  position: absolute;
  bottom: 50px;
  right: 50px; }
  .submit-cancel-button button {
    /* margin: 12px; */
    /* cursor: pointer; */
    /* border: none; */
    /* padding: 20px; */
    /* font-size: 1.1em; */
    /* font-family: tahoma; */
    /* transition: .2s background, color ease-in, .2s color ease-in; */
    /* &:hover { */
    /*     background: black; */
    /*     color: white; */
    /* } */ }
  .submit-cancel-button button:first-of-type {
    right: 90px; }

[data-playlist="no-playlist"], [data-playlist="playlist"], [data-saveList="saveList"], [data-saveList="no-saved"] {
  background: white;
  padding: 20px;
  color: gray; }

[data-playlist="no-playlist"] {
  display: flex;
  justify-content: center;
  align-content: center;
  line-height: 1.5; }
  [data-playlist="no-playlist"] p a {
    cursor: pointer;
    transition: .2s color ease-in;
    color: inherit; }
    [data-playlist="no-playlist"] p a:hover {
      color: black; }

[data-playlist="playlist"] p, [data-saveList="saveList"] p {
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left; }

.create-playlist-item, .saved-playlist {
  border: 2px solid white;
  padding: 15px 15px 25px 15px;
  margin-top: 12px;
  transtion: .2s background ease-in, .2s color ease-in; }
  .create-playlist-item:hover, .saved-playlist:hover {
    background: #a0a0a0;
    color: white; }
    .create-playlist-item:hover i, .saved-playlist:hover i {
      box-shadow: 100px 100px 100px 100px 100px green inset; }
  .create-playlist-item i, .saved-playlist i {
    cursor: pointer; }

[data-saveList="saveList"] {
  cursor: pointer; }

.loadplaylist, .removeplaylist {
  color: #3a3a3a;
  font-size: 1.3em;
  overflow-y: auto;
  max-height: 400px; }
  .loadplaylist ul, .removeplaylist ul {
    margin-top: 20px; }
    .loadplaylist ul :not([data-dyanmic-style]), .removeplaylist ul :not([data-dyanmic-style]) {
      color: white; }
    .loadplaylist ul .loadplaylist-item, .removeplaylist ul .loadplaylist-item {
      padding: 20px 20px 30px 20px;
      margin-bottom: 15px;
      cursor: pointer;
      transition: .2s background ease-in, .2s color ease-in; }
      .loadplaylist ul .loadplaylist-item p:first-letter, .removeplaylist ul .loadplaylist-item p:first-letter {
        text-transform: uppercase; }
      .loadplaylist ul .loadplaylist-item p, .removeplaylist ul .loadplaylist-item p {
        float: left; }
      .loadplaylist ul .loadplaylist-item span, .removeplaylist ul .loadplaylist-item span {
        float: right; }
      .loadplaylist ul .loadplaylist-item:hover, .removeplaylist ul .loadplaylist-item:hover {
        background-color: #6d6d6d;
        color: white; }

[data-load=multiple],
[data-load=single] {
  background-color: #6d6d6d;
  color: white; }

.no-loadplaylist {
  display: flex;
  justify-content: center;
  margin-top: 50%; }

.addplaylist {
  padding: 15px; }
  .addplaylist a {
    cursor: pointer; }
    .addplaylist a:hover {
      color: #b6b6b6;
      text-decoration: underline; }
  .addplaylist input {
    display: inline;
    width: 60%; }
  .addplaylist i {
    color: white;
    padding: 5px;
    border-radius: 100%;
    background: black;
    transition: .2s background ease-in;
    margin-left: 10px;
    cursor: pointer; }
    .addplaylist i:hover {
      background: #666666; }
  .addplaylist select {
    margin-top: 12px;
    padding: 15px;
    width: 60%;
    display: block;
    border: 0.5px solid lightgrey;
    overflow: auto; }
    .addplaylist select option {
      padding: 15px;
      background: lightgrey; }
      .addplaylist select option p:first-letter {
        text-transform: uppercase; }
  .addplaylist .submitaddplaylist {
    padding: 20px;
    width: 20%;
    font-size: 17px;
    margin-top: 12px;
    position: absolute;
    right: 23px;
    border: none;
    cursor: pointer;
    transition: .2s background,color ease-in; }
    .addplaylist .submitaddplaylist:hover {
      background: #212121;
      color: white; }

.inputpin-input {
  width: 50%;
  margin: auto;
  margin-top: 10%; }

.inputpin-pin {
  position: static;
  margin-top: 10%;
  margin-left: 40%; }

.podcast-left {
  width: 150px;
  float: left;
  background: #4b4b4b;
  height: 100vh;
  overflow-y: auto;
  box-shadow: 0.9px 0px 10px 0.8px #767676; }
  .podcast-left ul li {
    margin-top: 10%;
    padding: 15px;
    color: white;
    box-shadow: 0px 1px 9px 0px rgba(238, 238, 238, 0.14); }
  .podcast-left ul li:not(.podcastload) {
    cursor: pointer; }
    .podcast-left ul li:not(.podcastload):hover {
      text-decoration: underline; }
  .podcast-left ul p {
    background-color: darkgrey;
    padding: 10px 0;
    text-align: center;
    width: 100%; }
  .podcast-left ul .podcastload {
    padding: 0; }
    .podcast-left ul .podcastload p {
      padding: 12px 0px 12px 0px;
      margin: 25px auto; }

.podcastload {
  color: white; }
  .podcastload .nopoadcast {
    background: none;
    line-height: 2;
    font-size: 13px;
    margin-top: 50px; }
  .podcastload ul li {
    margin-top: 0;
    cursor: pointer;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
  .podcastload ul li:first-of-type {
    margin-top: 10px; }

.podcast-modal {
  border: 2px solid #4b4b4b;
  border-radius: 5px;
  background: #4b4b4b; }
  .podcast-modal .podcast-modal-parent {
    width: 100%; }
    .podcast-modal .podcast-modal-parent .podcast-modal-info {
      margin-bottom: 10px;
      width: 100%;
      word-break: break-word;
      line-height: 1.2;
      font-size: 10px; }
    .podcast-modal .podcast-modal-parent .podcast-modal-btn {
      display: flex;
      justify-content: flex-end; }
      .podcast-modal .podcast-modal-parent .podcast-modal-btn button:hover {
        background-color: #ededed; }
      .podcast-modal .podcast-modal-parent .podcast-modal-btn .podcast-modal-cancel {
        margin-right: -2%; }

.podcast-right {
  color: white;
  width: 650px;
  float: right;
  height: 100vh;
  overflow-y: auto;
  padding-top: 5px; }

.podcaster-podcast {
  padding: 5px;
  padding-bottom: 20px; }
  .podcaster-podcast .podcast-audio {
    padding: 10px;
    background: #4b4b4b;
    box-shadow: 0px 1px 9px 0px rgba(238, 238, 238, 0.14);
    margin-top: 5px;
    cursor: pointer;
    color: white;
    font-weight: 400;
    font-size: 1em;
    text-overflow: ellipsis; }

.podcast-spinner {
  height: 100%;
  text-align: center; }
  .podcast-spinner i {
    margin-top: 20%; }
  .podcast-spinner p {
    font-size: 3em;
    opacity: .13;
    margin-top: 5%; }

.podaudio-widget {
  float: right;
  width: 10%; }
  .podaudio-widget i:not(:first-of-type) {
    margin-left: 5px; }

.search-parent {
  position: fixed;
  width: 100%; }
  .search-parent input {
    border: none;
    background-color: #4b4b4b;
    color: white;
    font-size: 20px;
    padding: 30px;
    width: 50%;
    margin: auto;
    margin-left: 30%; }
  .search-parent .findings-parent {
    display: block;
    width: 54%;
    margin-left: 30%;
    background-color: #4b4b4b; }
    .search-parent .findings-parent ul {
      width: 100%;
      overflow-y: auto;
      max-height: 600px; }
      .search-parent .findings-parent ul li {
        padding: 10px;
        margin-top: 20px;
        cursor: pointer;
        width: 100%;
        transition: .2s color ease-in; }
        .search-parent .findings-parent ul li:hover {
          background: black; }

[data-navigate="true"] {
  background: black !important; }

.youtubeupload {
  position: fixed;
  width: 30%;
  height: 40%;
  background: #4b4b4b;
  text-align: center;
  border: 2px solid #4b4b4b;
  z-index: 557777777777; }
  .youtubeupload p {
    color: white;
    font-weight: bolder;
    margin-top: 12px; }
  .youtubeupload label {
    display: block;
    margin-top: 25px; }
    .youtubeupload label:last-of-type {
      margin-left: 30px; }
    .youtubeupload label:first-of-type {
      margin-top: 0; }
  .youtubeupload input {
    margin-top: 12px; }
  .youtubeupload input[type="text"] {
    width: 100%;
    height: 40px;
    display: block;
    border-radius: 4px;
    margin: auto;
    margin-top: 5px;
    text-indent: 10px;
    padding-top: 5px; }
  .youtubeupload textarea {
    width: 100%;
    margin: auto;
    margin-top: 12px;
    text-indent: 10px;
    padding-top: 5px; }
  .youtubeupload .private,
  .youtubeupload .public {
    display: inline; }
    .youtubeupload .private .youtubeupload-private,
    .youtubeupload .private .youtubeupload-public,
    .youtubeupload .public .youtubeupload-private,
    .youtubeupload .public .youtubeupload-public {
      display: inline; }
  .youtubeupload .youtubeupload-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px; }
    .youtubeupload .youtubeupload-btn button:hover {
      background-color: #ededed; }

.youtubeupload-cover {
  z-index: 55556666666666; }

.akara-add-media {
  top: 0; }

.akara-subtitle {
  top: 255px; }

.akara-internet-media {
  top: 306px; }

.akara-playlist-option {
  top: 134px; }

.akara-dropdown {
  text-align: left;
  max-height: 0;
  left: 10px;
  top: 30px;
  border: 1px solid white;
  font-size: 20px;
  position: absolute;
  z-index: 5562; }
  .akara-dropdown ul li {
    visibility: hidden;
    font-size: 1rem;
    padding: 10px !important;
    transition: .3s !important;
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
    .akara-dropdown ul li:hover {
      background-color: darkgrey; }

[data-anim-height="anim-height"] {
  animation-name: height-anim;
  animation-timing-function: ease-in;
  animation-duration: .285s;
  animation-direction: normal;
  animation-fill-mode: forwards; }

.akara-title-bar {
  height: 50px;
  border-bottom: 2px solid white;
  -webkit-app-region: drag; }
  .akara-title-bar .akara-menu-toggle {
    color: black;
    float: left;
    font-size: 20px;
    margin: 5px auto auto 20px;
    background-color: white;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 2px gray;
    padding: 5px 13px;
    -webkit-app-region: no-drag; }
  .akara-title-bar .akara-title {
    color: white;
    float: left;
    position: fixed;
    left: 50px;
    width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5em;
    padding-top: 12px;
    padding-left: 12px; }
  .akara-title-bar .akara-window-state {
    float: right;
    -webkit-app-region: no-drag; }
    .akara-title-bar .akara-window-state > ul {
      margin-top: 7px; }
      .akara-title-bar .akara-window-state > ul > li {
        display: inline;
        color: white;
        padding: 5px;
        margin-left: 20px;
        border-radius: 50%;
        cursor: pointer; }
      .akara-title-bar .akara-window-state > ul > li:last-of-type {
        transition: .3s color; }
        .akara-title-bar .akara-window-state > ul > li:last-of-type:hover {
          color: darkred; }

.akara-media {
  clear: both;
  width: 100%;
  height: 100%;
  color: #cccccc; }
  .akara-media .akara-media-cover {
    float: right;
    width: 70%;
    height: 80%; }
    .akara-media .akara-media-cover video {
      width: 100% !important;
      height: 100% !important; }

.akara-load {
  float: left;
  width: 30%;
  margin-right: -8px;
  height: inherit;
  background: #252525;
  z-index: 5555;
  position: absolute; }
  .akara-load .akara-loaded-dragger {
    height: inherit;
    cursor: ew-resize;
    float: right;
    border: 2px solid #1a1a1a;
    resize: both; }
  .akara-load .akara-loaded {
    overflow-y: auto;
    height: inherit;
    margin-right: 6px; }
    .akara-load .akara-loaded > li {
      padding: 5px;
      width: inherit;
      cursor: pointer;
      font-size: 1.2em;
      font-family: DejaVau;
      margin-top: 4px;
      white-space: nowrap;
      transition: .2s ease-in-out; }
    .akara-load .akara-loaded li:last-of-type {
      margin-bottom: 100px; }

[data-clicked="true"] {
  width: 100% !important; }

[data-dbclicked="true"] span {
  margin-left: 12px; }

.akara-output-process {
  position: absolute;
  right: 30px;
  padding: 12px;
  font-size: 30px;
  margin-top: 25px; }

.akara-control, .cover-on-error-src {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background: #181818;
  /**
     *
     * overwrite chromes default controls
     * 32bit integer value z-index
     *
     **/
  z-index: 5555555555555; }

.akara-control {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px; }

.cover-on-error-src {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background: #4b4b4b;
  opacity: .75; }

.akara-time {
  width: 100%; }
  .akara-time .akara-time-length {
    background: darkgrey;
    height: 12px;
    cursor: pointer;
    width: inherit; }
    .akara-time .akara-time-length .akara-time-current {
      width: 0;
      background: #323232;
      height: inherit; }

.akara-media-control-left {
  float: left; }

.akara-media-control-right {
  float: right; }

.akara-media-control-left,
.akara-media-control-right {
  width: percent(50 40); }
  .akara-media-control-left li.akara-volume,
  .akara-media-control-right li.akara-volume {
    display: inline-block; }
  .akara-media-control-left li.fa,
  .akara-media-control-right li.fa {
    cursor: pointer;
    margin: 10px;
    cursor: pointer;
    border-width: 12px;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 5px 5px 20px #000 inset;
    transition: .2s box-shadow ease-in-out; }
    .akara-media-control-left li.fa:hover,
    .akara-media-control-right li.fa:hover {
      box-shadow: 5px 5px 20px #262626 inset; }

.akara-update-cur-time {
  display: block;
  margin: 15px auto auto 20px; }

.akara-display {
  display: none !important; }

[data-hover="true"] {
  position: absolute;
  border-radius: 10%;
  background: #4b4b4b;
  padding: 3px; }
  [data-hover="true"] span {
    color: white; }

.expand {
  visibility: hidden; }

.volume-incr {
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  margin-left: 1px;
  padding: 1px;
  background: #333333;
  padding-right: 9px;
  cursor: pointer; }

.volume-incr:nth-of-type(1) {
  margin-left: -5px;
  padding-top: 1px; }

.volume-incr:nth-of-type(2) {
  padding-top: 4px; }

.volume-incr:nth-of-type(3) {
  padding-top: 7px; }

.volume-incr:nth-of-type(4) {
  padding-top: 10px; }

.volume-incr:nth-of-type(5) {
  padding-top: 13px; }

.volume-incr:nth-of-type(6) {
  padding-top: 16px; }

.volume-incr:nth-of-type(7) {
  padding-top: 19px; }

.volume-incr:nth-of-type(8) {
  padding-top: 22px; }

.volume-incr:nth-of-type(9) {
  padding-top: 25px; }

.volume-incr:nth-of-type(10) {
  padding-top: 28px; }

.volume-incr:nth-of-type(11) {
  padding-top: 31px; }

[data-volume-set="true"] {
  background: #fff; }

[data-sub-on=false] {
  background: white;
  box-shadow: 500px 500px 500px 500px white inset !important; }

/* [data-anim] { */
/*     animation-name: fullScreenVideo; */
/*     animation-duration: .1s; */
/*     animation-timing-function: ease-in; */
/*     animation-fill-mode: forwards; */
/* } */
[data-fullscreenwidth] {
  height: 90px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px; }

::-webkit-scrollbar {
  width: 7px;
  cursor: pointer; }

::-webkit-scrollbar-track {
  background: #4b4b4b; }

::-webkit-scrollbar-thumb {
  background-color: #4b4b4b;
  border-radius: 50%; }

::-webkit-scrollbar-button {
  background-color: #666666; }

video::-webkit-media-controls {
  display: none; }

/*# sourceMappingURL=maps/main.css.map */
