.akara-media .akara-load .akara-loaded > li:hover, [data-clicked="true"] {
  background: #3e3e3e; }

*:focus {
  outline: none; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a {
  text-decoration: none;
  color: black; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.akara-media-element {
  position: absolute;
  left: 200px;
  top: 223.555px;
  width: 200px;
  background: white;
  color: black; }

.akara-dropdown {
  position: absolute;
  text-align: left;
  height: 0;
  width: 200px;
  background: white;
  color: black;
  left: 10px;
  top: 30px;
  border: 1px solid white;
  font-size: 20px; }
  .akara-dropdown ul .screenshot {
    border-top: 2px solid black;
    border-bottom: 2px solid black; }
  .akara-dropdown ul li {
    visibility: hidden;
    padding: 10px;
    transition: .3s; }
    .akara-dropdown ul li:hover {
      background-color: darkgrey; }
  .akara-dropdown ul li:nth-of-type(1) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(2) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(3) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(4) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(5) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(6) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(7) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(8) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(9) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(10) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(11) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(12) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(13) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(14) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }
  .akara-dropdown ul li:nth-of-type(15) {
    animation-name: dropdown-anim;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: .2s; }

[data-anim-height="anim-height"] {
  animation-name: height-anim;
  animation-timing-function: ease-in;
  animation-duration: .285s;
  animation-direction: normal;
  animation-fill-mode: forwards; }

@keyframes height-anim {
  0% {
    height: 10px; }
  100% {
    height: 630px; } }

@keyframes dropdown-anim {
  0% {
    margin-top: 10px;
    visibility: visible; }
  20% {
    margin-top: 11px; }
  40% {
    margin-top: 12px; }
  80% {
    margin-top: 13px; }
  100% {
    margin-top: 15px;
    visibility: visible; } }

.akara-title-bar {
  height: 50px;
  border-bottom: 2px solid white; }
  .akara-title-bar .akara-menu-toggle {
    color: black;
    float: left;
    font-size: 20px;
    margin: 16px auto auto 20px;
    background-color: white;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 2px gray;
    padding: 5px 13px; }
  .akara-title-bar .akara-title {
    color: white;
    text-align: center;
    width: 85%;
    float: left;
    position: absolute;
    left: 6%;
    -webkit-app-region: drag;
    font-size: 18px;
    padding: 12px; }
  .akara-title-bar .akara-window-state {
    float: right; }
    .akara-title-bar .akara-window-state > ul {
      margin-top: 7px; }
      .akara-title-bar .akara-window-state > ul > li {
        display: inline;
        color: white;
        padding: 5px;
        margin-left: 8px;
        border-radius: 50%;
        cursor: pointer; }
      .akara-title-bar .akara-window-state > ul > li:last-of-type {
        transition: .3s color; }
        .akara-title-bar .akara-window-state > ul > li:last-of-type:hover {
          color: darkred; }

.akara-media {
  clear: both;
  width: 100%;
  height: 100%;
  color: #cccccc; }
  .akara-media .akara-media-cover {
    float: right;
    width: 70%;
    height: inherit; }
    .akara-media .akara-media-cover video {
      width: 100%;
      height: inherit;
      margin-top: -2.5%; }
  .akara-media .akara-load {
    float: left;
    width: 30%;
    margin-right: -8px;
    height: inherit;
    background: #252525; }
    .akara-media .akara-load .akara-loaded-dragger {
      height: inherit;
      cursor: ew-resize;
      float: right;
      border: 2px solid #1a1a1a;
      resize: both; }
    .akara-media .akara-load .akara-loaded {
      overflow-y: auto;
      height: inherit;
      margin-top: 20px;
      margin-right: 6px; }
      .akara-media .akara-load .akara-loaded > li {
        padding: 5px;
        width: inherit;
        cursor: pointer;
        font-size: 1.2em;
        font-family: DejaVau;
        margin-top: 4px;
        white-space: nowrap;
        transition: .2s ease-in-out; }
      .akara-media .akara-load .akara-loaded li:last-of-type {
        margin-bottom: 70px; }

[data-dbclicked="true"] span {
  margin-left: 12px; }

::-webkit-scrollbar {
  width: 7px;
  cursor: pointer; }

::-webkit-scrollbar-track {
  background: #4b4b4b; }

::-webkit-scrollbar-thumb {
  background-color: #4b4b4b;
  border-radius: 50%; }

::-webkit-scrollbar-button {
  background-color: #666666; }

body {
  background: #181818;
  overflow: hidden;
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  height: 100vh;
  font-family: monospace; }

/*# sourceMappingURL=maps/main.css.map */
