.poster-body {
    @extend %new_window_body;
}

.poster-header {
    @extend %new_window_headers;
}


.poster {
    padding: 12px;
    padding-top: 50px;
    width: 100%;
}

.posters-parent {
    width: 93%;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 5px solid black;
    padding: 5px;
    background: darken($global-color, 15%);
}


.poster-list {
    width: 100%;
    padding-left: 20px;
    li {
        display: inline-block;
        border: 3px solid black;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer;
        transition: .2s border-color ease-in-out;
        &:hover {
            border-color: darken($global-color, 5%);
        }
    }
}

[data-current-value=true] {
    border: 3px solid lighten(blue,30%) !important;
    
}

.poster-operation {
    margin-top: 20px;
    float: right;
    margin-right: 37px;
    button {
        cursor: pointer;
        border: none;
        background: none;
        color: white;
        &:hover {
            text-decoration: underline;
        }
    }
}

.poster-album-art {
    clear: right;
    font-size: 15px;
    span {
        vertical-align: top;
        margin-left: 5px;
    }
    span,input {
        cursor: pointer;
    }
}

.postersetting-btn {
    button {
        @extend %buttons;   
    }
    button:first-of-type {
        margin-right: 20px;
    }
}
