.power-body {
    @extend %new_window_body;
}
.power-header {
    @extend %new_window_headers;
}

.power {
    div {
        overflow-y: auto;
        overflow-x: hidden;
        ul {
            //background: lighten($global-color,10%);
            height: 100%;
            padding-top: 20px;
            
            li {
                font-size: 1.2em;
                padding: 25px;
                width: 100%;
                p {
                    width: 70%;
                    float: left;
                }
                i {
                    float: right;
                    margin-right: 30px;
                    margin-top: -10px;
                    font-size: 30px;
                    cursor: pointer;
                }                
                border-bottom: 2px solid lighten($global-color,10%);
            }

            li:first-of-type {
                margin-top: 12px;
            }
        }
    }
}

.power-buttons {
    button {
        @extend %buttons;
    }
}
